
:root{
    --primary-color:#223F64;
    --secondray-color:#3F88D8;
    --text-primary-color:#24384F;
    --font-family: 'Poppins', sans-serif;
    --text-secondray-color: white;
    --h1-font-size:32px;
    --p-font-size:24px;
}
.login-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.login-container .top-header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin: 10px auto;
}
.login-container .top-header h2 {
  font-family: var(--font-family);
  font-size: var(--h1-font-size);
  font-weight: 400;
  text-align: center;
  color: var(--text-primary-color);
}
.login-container .top-header p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--p-font-size);
    color: var(--text-primary-color);
}

.input-containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1092px;
    width: 100%;
    margin:50px auto;
}
.input-containers .right-side-input-container .email-inputs .email-icon,.input-containers .right-side-input-container .password-inputs .password-icon{
    display: flex;
}
.input-containers .right-side-input-container .email-inputs .email-icon .email-sybmbol,.input-containers .right-side-input-container .password-inputs .password-icon .password-sybmbol {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid var(--secondray-color);
    color: var(--text-primary-color);

}
.input-containers .right-side-input-container .email-inputs .email-icon .email-feild,.input-containers .right-side-input-container .password-inputs .password-icon .password-feild {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid var(--secondray-color);
    width: 100%;
    outline: none;
    padding: 13px;
    font-family: var(--font-family);
   
}

.right-side-input-container label{
    font-size: 24px;
    font-family: var(--font-family);
     line-height: 35px;


}

.right-side-input-container {
    flex: auto;
    max-width: 507px;
    width: 100%;
}

.input-containers a{

    display: block;
    margin-bottom: 25px;
    margin-top: 6px;
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--text-primary-color);

}
.login-btn-container{
    display: flex;
    justify-content: center;
   
}
.login-btn-container .login-btn{
    padding: 7px 158px 6px 156px;
    font-size: 20px;
    font-family: var(--font-family);
    background-color: var(--text-primary-color);
    color: var(--text-secondray-color);
    outline: none;
    border: none;
    border-radius: 5px;
}
.right-side-input-container .error-message{
    margin-top: 8px;
    height: 20px;
    color: red;
    font-family: var(--font-family);
    font-weight: 400;
}

.requirements-list{
    border: 1px solid var(--text-primary-color);
    border: 1px solid var(--text-primary-color);
    position: absolute;
    top: 275px;
    right: 630px;
    padding: 10px;
    display: none;
}
.requirements-list.show{
    display: block;
}
.requirements-list{
    background-color: var(--text-secondray-color);
}
.password-check-points li{
   display: flex;
   gap: 10px;
   font-size: 16px;
   font-family: var(--font-family);
    font-weight: 400;
}
.required-feild{
    color: red;
}

.password-icon{
    position: relative;
}
.eye-icon{
    position: absolute;
    position: absolute;
    right: 0px;
    top: 15px;
    color: var(--primary-color);
    cursor: pointer;
}
.input-component{
    width: 100%;
}
