:root {
  --primary-color: #223f64;
  --secondary-color: #3f88d8;
  --text-primary-color: #24384f;
  --font-family: "Poppins", sans-serif;
  --text-secondary-color: white;
  --h1-font-size: 32px;
  --p-font-size: 24px;
  --error: red;
}

.container {
  border: 1px solid grey;
  padding-bottom: 50px;
}

.inner-container {
  display: flex;
}

.left-container {
  max-width: 700px;
  width: 100%;
  border-right: 1px solid grey;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 24px;
}

/* .left-container > div {
  margin-bottom: 20px;
  width: 100%;
} */

.page-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
  padding-bottom: 10px;
  span {
    width: 28px;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  .task-txt {
    font: bold 16px/18px karla, san-serif;
    color: var(--primary-color);
  }
}

.task-name-sec > label,
.task-desc-sec > label,
.file-attach-sec > label {
  display: block;
  font: bold 16px/18px karla, san-serif;
  color:var(--primary-color);
  padding-bottom: 10px;
}

.task-name-sec > input,
.task-desc-sec > textarea {
  font: normal 16px/18px karla, san-serif;
  width: 100%;
  background-color: white;
  padding-left: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.task-name-sec > input {
  padding: 15px 8px;
}

.task-name-sec > input:focus,
textarea:focus {
  outline: none;
}

.task-desc-sec > textarea {
  width: 100%;
  padding: 10px 10px 100px 6px;
}

.file-upload-cont {
  padding: 30px 0 30px 16px;
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .or {
    margin: 0px 20px;
  }
}

.right-container {
  padding: 40px;
  position: relative;
}

.right-contents {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* .right-contents > div {
  padding-bottom: 10px;
} */
.right-contents label {
  display: block;
  padding-bottom: 5px;
  color: var(--primary-color);
}
.right-container .btns-div {
  position: absolute;
  bottom: 0;
}
.right-container .btns-div .cancel-btn {
  padding: 10px 20px 10px 20px;
  margin-right: 5px;
  color: white;
  background-color: #9fa4aa;
  outline: none;
  border: none;
  border-radius: 3px;
}
.right-container .btns-div .assign-btn {
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 3px;
}

.right-contents input {
  padding: 10px 5px 10px 10px;
  outline: none;
}

.right-container .due-time-sec .date-time-container{
  display: flex;
  gap: 5px;
}
a.ant-dropdown-trigger.ant-dropdown-link {
  width: 120px;
  border: 1px solid;
  padding: 7px 15px 7px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
.right-container label {
  padding-bottom: 12px;
}
.task-add-page a {
  color: var(--primary-color);
}

.ant-select.type-picker{
  width: 150px;
}
.ant-select.ant-select\.type-picker {
  width: 130px;
}


.list-weightage{
  display: flex;
}
input.ant-input.css-dev-only-do-not-override-6j9yrn.weightage-input.css-dev-only-do-not-override-6j9yrn {
  padding: 0;
  padding-left: 5px;
}
.error-description{
  margin-top: 50px;
}