:root {
  --primary-color: #223f64;
  --secondray-color: #3f88d8;
  --text-primary-color: #24384f;
  --font-family: "Poppins", sans-serif;
  --text-secondray-color: white;
  --h1-font-size: 32px;
  --p-font-size: 24px;
  --error: red;
}

.greeting {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.welcome__message {
  color: var(--text-primary-color);
}

.heading h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 20px;
  line-height: normal;
}

.heading {
  padding: 22px 40px;
}

.heading p {
  color: var(--text-primary-color);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards {
  width: 150px;
  height: 150px;
  border: 10px;
  background-color: white;
  color: var(--text-primary-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px 0px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

}

.add__batch {
  padding-top: 20px;
}

.error-message {
  height: 20px;
  color: var(--error);
}

.batches__list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.batches__list>* {
  color: var(--text-primary-color);
}

.batches_list {
  color: var(--text-primary-color);
}

.added-batches {
  width: 150px;
  height: 150px;
  border: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px 0px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main__batches {
  position: relative;
}

.edit__icon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  padding: 2px;
}

.batch_name,
.start_year,
.end_year {
  color: var(--text-primary-color);
}

.years {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.batch-card {
  transition: transform 0.3s ease-in-out;
}

/* Apply hover effect */
.batch-card:hover {
  transform: scale(1.05);
}