@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$font-Roboto: "Roboto";
$side_bar_bg: #f8fbf2;
$font-primary-color: #12160a;
$font-secondary-color: #969d88;
$border-color: #eaeaea;
$primary-color: #49a843;
$btn-hover-color: #33762f;
$btn-default: #e6e6e6;
$error-message: #ef4444;

$highlight-yellow: #f59e0b;
$highlight-yellow-bg: #fef3c7;

$highlight-blue: #3b82f6;
$highlight-blue-bg: #dbeafe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-Roboto;
  outline: none;
  border: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $primary-color;
}

::-webkit-scrollbar-track {
  background: #ffff;
}

::-webkit-scrollbar-thumb:active {
  background-color: $primary-color;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  // display: inline-block;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: $font-secondary-color;
  font-family: $font-Roboto;
}

li {
  list-style: none;
}

.btn {
  width: 90px;
  height: 38px;
  padding: 10px 24px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  font-family: $font-Roboto;
}

//primary button section
.btn.primary-medium {
  background-color: $primary-color;
  color: #ffff;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover-color;
  }

  &:active {
    background-color: $btn-hover-color;
    opacity: 30%;
  }
}

.btn.primary-medium-default {
  cursor: not-allowed;
  background-color: $btn-default;
  color: #ffff;
}

.btn.primary-medium-icon {
  background-color: $primary-color;
  color: #ffff;
  cursor: pointer;
  font-weight: 500;

  &::before {
    content: "+";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    font-family: $font-Roboto;
    font-weight: 500;
  }

  &:hover {
    background-color: $btn-hover-color;
  }

  &:active {
    background-color: $btn-hover-color;
    opacity: 30%;
  }
}

//secondary button section
.btn.secondary-medium {
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: #ffff;
  cursor: pointer;

  &:hover {
    color: $btn-hover-color;
    border: 1px solid $btn-hover-color;
  }

  &:active {
    color: $primary-color;
    border: 1px solid $primary-color;
    opacity: 30%;
  }
}

.btn.secondary-medium-default {
  color: $font-secondary-color;
  background-color: #ffff;
  border: 1px solid$border-color;
  border-radius: 4px;
  cursor: not-allowed;
}

.btn.secondary-medium-icon {
  background-color: #ffff;
  color: $primary-color;
  border: 1px solid$primary-color;
  cursor: pointer;
  font-weight: 500;

  &::before {
    content: "+";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    font-family: $font-Roboto;
    font-weight: 500;
  }

  &:hover {
    border: 1px solid$btn-hover-color;
    color: $btn-hover-color;
  }

  &:active {
    border: 1px solid$btn-hover-color;
    background-color: #ffff;
    opacity: 30%;
  }
}

//sec small

@mixin secondary-btn-sm {
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: #ffff;
  padding: 8px 24px;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-Roboto;
  outline: none;
  border-radius: 4px;
}

.error-message {
  padding-top: 6px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: $error-message;
}

.error-notify {
  border: 1px solid $error-message !important;
  color: $error-message;
  border-radius: 4px;
}

body {
  height: 100vh;
  .container {
    // max-width: 1280px;
    // width: 100%;
    // margin: auto;

    .login-page-container {
      width: 100%;
      background-image: url(/icons/login-frame.svg);
      height: 100vh;

      .logo-container {
        padding: 24px 0px 0px 16px;
        .logo {
          max-width: 146px;
          height: 47px;
          width: 100%;
        }
      }
      .login-container {
        height: calc(100vh - 80px);
        align-items: center;
        justify-content: center;
        gap: 115px;
        .login-image-container {
          img {
            max-width: 530px;
            width: 100%;
            height: 530px;
          }
        }
        .login-form-container {
          background-color: #ffff;
          max-width: 375px;
          // height: 376px;
          width: 100%;
          padding: 32px;
          border: 1px solid $border-color;
          border-radius: 4px;
          form {
            .form-heading {
              h1 {
                font: 500 24px/28px $font-Roboto;
                color: $font-primary-color;
                padding-bottom: 6px;
              }
              p {
                font: 400 16px/20px $font-Roboto;
                color: $font-primary-color;
                padding-bottom: 24px;
              }
            }
            .email-container {
              flex-direction: column;
              margin-bottom: 10px;
              label {
                font: 400 12px/16px $font-Roboto;
                color: $font-secondary-color;
                padding-bottom: 6px;
              }
              .email-input {
                color: $font-primary-color;
                border: 1px solid $border-color;
                padding: 10px 0px 10px 12px;
                border-radius: 4px;
              }
              .email-input:focus {
                border: 1px solid $primary-color;
                outline: none;
              }
            }
            .password-container {
              margin-bottom: 10px;

              label {
                font: 400 12px/16px $font-Roboto;
                color: $font-secondary-color;
              }
              .password-field {
                position: relative;
                margin-top: 6px;
                .password-input {
                  width: 100%;
                  padding: 10px 30px 10px 12px;
                  border: 1px solid $border-color;
                  color: $font-primary-color;
                  border-radius: 4px;
                }
                .password-input:focus {
                  border: 1px solid $primary-color;
                  outline: none;
                }
                .eye-icon {
                  cursor: pointer;
                  position: absolute;
                  top: 12px;
                  right: 12px;
                  font-size: 16px;
                  color: #969d88;
                }
              }
            }
            .remember-container {
              justify-content: space-between;
              align-items: center;
              margin-bottom: 32px;
              .remember-content {
                align-items: center;
                gap: 2px;
                .remember-input {
                  width: 16px;
                  height: 16px;
                  border: 1px solid $border-color;
                  color: $font-primary-color;
                  background-color: #ffff;
                  &:checked {
                    background-color: $primary-color;
                  }
                }

                p {
                  font: 500 12px/16px $font-Roboto;
                  color: $font-primary-color;
                }
              }
              .forgot-container {
                a {
                  color: $font-primary-color;
                  font: 400 12px/16px $font-Roboto;
                  &:hover {
                    color: $btn-hover-color; 
                  }
                }
              }
            }
            .login-button-container {
              button {
                width: 100%;
                align-items: center;
                span {
                  .loader {
                    margin-left: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
