@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
  border: none;
  -webkit-user-select: none;
  /* Safari */
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #49a843;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #49a843;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background-color: #49a843;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #969d88;
  font-family: "Roboto";
}

li {
  list-style: none;
}

.btn {
  width: 90px;
  height: 38px;
  padding: 10px 24px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  font-family: "Roboto";
}

.btn.primary-medium {
  background-color: #49a843;
  color: white;
  cursor: pointer;
}
.btn.primary-medium:hover {
  background-color: #33762f;
}
.btn.primary-medium:active {
  background-color: #33762f;
  opacity: 30%;
}

.btn.primary-medium-default {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: white;
}

.btn.primary-medium-icon {
  background-color: #49a843;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.btn.primary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.primary-medium-icon:hover {
  background-color: #33762f;
}
.btn.primary-medium-icon:active {
  background-color: #33762f;
  opacity: 30%;
}

.btn.secondary-medium {
  color: #49a843;
  border: 1px solid #49a843;
  background-color: white;
  cursor: pointer;
}
.btn.secondary-medium:hover {
  color: #33762f;
  border: 1px solid #33762f;
}
.btn.secondary-medium:active {
  color: #49a843;
  border: 1px solid #49a843;
  opacity: 30%;
}

.btn.secondary-medium-default {
  color: #969d88;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  cursor: not-allowed;
}

.btn.secondary-medium-icon {
  background-color: white;
  color: #49a843;
  border: 1px solid #49a843;
  cursor: pointer;
  font-weight: 500;
}
.btn.secondary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.secondary-medium-icon:hover {
  border: 1px solid #33762f;
  color: #33762f;
}
.btn.secondary-medium-icon:active {
  border: 1px solid #33762f;
  background-color: white;
  opacity: 30%;
}

.error-message {
  padding-top: 6px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #ef4444;
}

.error-notify {
  border: 1px solid #ef4444 !important;
  color: #ef4444;
  border-radius: 4px;
}

body {
  height: 100vh;
}
body .container .login-page-container {
  width: 100%;
  background-image: url(/icons/login-frame.svg);
  height: 100vh;
}
body .container .login-page-container .logo-container {
  padding: 24px 0px 0px 16px;
}
body .container .login-page-container .logo-container .logo {
  max-width: 146px;
  height: 47px;
  width: 100%;
}
body .container .login-page-container .login-container {
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  gap: 115px;
}
body .container .login-page-container .login-container .login-image-container img {
  max-width: 530px;
  width: 100%;
  height: 530px;
}
body .container .login-page-container .login-container .login-form-container {
  background-color: white;
  max-width: 375px;
  width: 100%;
  padding: 32px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
body .container .login-page-container .login-container .login-form-container form .form-heading h1 {
  font: 500 24px/28px "Roboto";
  color: #12160a;
  padding-bottom: 6px;
}
body .container .login-page-container .login-container .login-form-container form .form-heading p {
  font: 400 16px/20px "Roboto";
  color: #12160a;
  padding-bottom: 24px;
}
body .container .login-page-container .login-container .login-form-container form .email-container {
  flex-direction: column;
  margin-bottom: 10px;
}
body .container .login-page-container .login-container .login-form-container form .email-container label {
  font: 400 12px/16px "Roboto";
  color: #969d88;
  padding-bottom: 6px;
}
body .container .login-page-container .login-container .login-form-container form .email-container .email-input {
  color: #12160a;
  border: 1px solid #eaeaea;
  padding: 10px 0px 10px 12px;
  border-radius: 4px;
}
body .container .login-page-container .login-container .login-form-container form .email-container .email-input:focus {
  border: 1px solid #49a843;
  outline: none;
}
body .container .login-page-container .login-container .login-form-container form .password-container {
  margin-bottom: 10px;
}
body .container .login-page-container .login-container .login-form-container form .password-container label {
  font: 400 12px/16px "Roboto";
  color: #969d88;
}
body .container .login-page-container .login-container .login-form-container form .password-container .password-field {
  position: relative;
  margin-top: 6px;
}
body .container .login-page-container .login-container .login-form-container form .password-container .password-field .password-input {
  width: 100%;
  padding: 10px 30px 10px 12px;
  border: 1px solid #eaeaea;
  color: #12160a;
  border-radius: 4px;
}
body .container .login-page-container .login-container .login-form-container form .password-container .password-field .password-input:focus {
  border: 1px solid #49a843;
  outline: none;
}
body .container .login-page-container .login-container .login-form-container form .password-container .password-field .eye-icon {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  color: #969d88;
}
body .container .login-page-container .login-container .login-form-container form .remember-container {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
body .container .login-page-container .login-container .login-form-container form .remember-container .remember-content {
  align-items: center;
  gap: 2px;
}
body .container .login-page-container .login-container .login-form-container form .remember-container .remember-content .remember-input {
  width: 16px;
  height: 16px;
  border: 1px solid #eaeaea;
  color: #12160a;
  background-color: white;
}
body .container .login-page-container .login-container .login-form-container form .remember-container .remember-content .remember-input:checked {
  background-color: #49a843;
}
body .container .login-page-container .login-container .login-form-container form .remember-container .remember-content p {
  font: 500 12px/16px "Roboto";
  color: #12160a;
}
body .container .login-page-container .login-container .login-form-container form .remember-container .forgot-container a {
  color: #12160a;
  font: 400 12px/16px "Roboto";
}
body .container .login-page-container .login-container .login-form-container form .remember-container .forgot-container a:hover {
  color: #33762f;
}
body .container .login-page-container .login-container .login-form-container form .login-button-container button {
  width: 100%;
  align-items: center;
}
body .container .login-page-container .login-container .login-form-container form .login-button-container button span .loader {
  margin-left: 8px;
}/*# sourceMappingURL=Login.css.map */