@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #49a843;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #49a843;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:active {
  background-color: #49a843;
}

:root {
  --side_bar_bg: #f8fbf2;
  --font-primary-color: #12160a;
  --font-secondary-color: #969d88;
  --border-color: #eaeaea;
  --primary-color: #49a843;
  --btn-hover-color: #33762f;
  --btn-default: #e6e6e6;
}

body {
  background-color: white;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

/* components styles */
.flex {
  display: flex;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #969d88;
  font-family: "Roboto";
}

li {
  list-style: none;
}

.btn {
  padding: 11px 30px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  font-family: "Roboto";
}

.btn.primary-medium {
  background-color: #49a843;
  color: white;
  cursor: pointer;
}
.btn.primary-medium:hover {
  background-color: var(--btn-hover-color);
}
.btn.primary-medium:active {
  background-color: var(--btn-hover-color);
  opacity: 30%;
}

.btn.primary-medium-default {
  cursor: not-allowed;
  background-color: var(--btn-default);
  color: white;
}

.btn.primary-medium-icon {
  background-color: #49a843;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.btn.primary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.primary-medium-icon:hover {
  background-color: var(--btn-hover-color);
}
.btn.primary-medium-icon:active {
  background-color: var(--btn-hover-color);
  opacity: 30%;
}

.btn.secondary-medium {
  color: #49a843;
  border: 1px solid #49a843;
  background-color: white;
  cursor: pointer;
}
.btn.secondary-medium:hover {
  color: var(--btn-hover-color);
  border: 1px solid var(--btn-hover-color);
}
.btn.secondary-medium:active {
  color: #49a843;
  border: 1px solid #49a843;
  opacity: 30%;
}

.btn.secondary-medium-default {
  color: #969d88;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  cursor: not-allowed;
}

.btn.secondary-medium-icon {
  background-color: white;
  color: #49a843;
  border: 1px solid #49a843;
  cursor: pointer;
  font-weight: 500;
}
.btn.secondary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 18px;
}
.btn.secondary-medium-icon:hover {
  border: 1px solid var(--btn-hover-color);
  color: var(--btn-hover-color);
}
.btn.secondary-medium-icon:active {
  border: 1px solid var(--btn-hover-color);
  background-color: white;
  opacity: 30%;
}

.btn.create-btn {
  width: 100%;
  padding: 8px 0;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  background-color: white;
  font-family: "Roboto";
  text-transform: capitalize;
}
.btn.create-btn span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Roboto";
}

.btn.create-btn:hover {
  background-color: #f8fbf2;
}

.submission-modal span {
  font-weight: 500;
}
.submission-modal .over-all-btns {
  display: flex;
  justify-content: end;
}
.submission-modal .over-all-btns .all-btn {
  width: 250px;
  justify-content: space-between;
}
.submission-modal .submission-link-input .input-link {
  padding: 10px 0px 10px 12px;
  width: 100%;
  color: #12160a;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  margin-bottom: 32px;
  font: 500 12px/16px "Roboto";
}

.student-main-container {
  padding: 20px;
  width: 100%;
}
.student-main-container .module-header-section {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
}
.student-main-container .module-header-section .module-title-section {
  gap: 10px;
}
.student-main-container .module-header-section .module-title-section h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto";
}
.student-main-container .module-header-section .module-title-section img {
  width: 20px;
  height: 20px;
}
.student-main-container .module-header-section .comments {
  border-radius: 4px;
  border: 1px solid #49a843;
  width: 125px;
  cursor: pointer;
}
.student-main-container .module-header-section .comments:hover {
  color: var(--btn-hover-color);
  border: 1px solid var(--btn-hover-color);
}
.student-main-container .module-header-section .comments:active {
  color: #49a843;
  border: 1px solid #49a843;
  opacity: 30%;
}
.student-main-container .module-header-section .comments img {
  width: 16px;
  margin-left: 18px;
}
.student-main-container .module-header-section .comments .secondary-border-btn {
  height: 38px;
  color: #49a843;
  background-color: white;
  cursor: pointer;
}
.student-main-container .module-header-section .comments .secondary-border-btn:hover {
  color: var(--btn-hover-color);
}
.student-main-container .module-header-section .comments .secondary-border-btn:active {
  color: #49a843;
  opacity: 30%;
}
.student-main-container .task-list-container .task-card {
  margin-top: 12px;
}
.student-main-container .task-details-header-container .background-div {
  padding: 16px;
  border-radius: 4px;
  background-color: #f7f8f7;
  margin-bottom: 16px;
}
.student-main-container .task-details-header-container .task-label-container {
  padding-bottom: 16px;
  align-items: center;
  gap: 11px;
}
.student-main-container .task-details-header-container .task-label-container h3 {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  font-weight: 400;
}
.student-main-container .task-details-header-container .task-label-container .horizon-line {
  flex: 1;
  border-bottom: 1px solid #eaeaea;
}
.student-main-container .task-details-header-container .student-task-details-main-container {
  gap: 50px;
  padding-bottom: 20px;
}
.student-main-container .task-details-header-container .student-task-details-main-container p {
  font-size: 12px;
  font-family: "Roboto";
  color: #969d88;
  padding-bottom: 2px;
}
.student-main-container .task-details-header-container .student-task-details-main-container span {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
}
.student-main-container .task-details-header-container .student-task-details-main-container select {
  padding: 2px 8px;
  outline: none;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  width: 100%;
  font-family: "Roboto";
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-trainer-name {
  border-right: 2px solid #eaeaea;
  max-width: 180px;
  width: 100%;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-trainer-name p span {
  font: 400 12px/16px "Roboto";
}
.student-main-container .task-details-header-container .student-task-details-main-container .sudent-task-supporting-doc img {
  width: 16px;
  height: 16px;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status {
  border-right: 2px solid #eaeaea;
  max-width: 180px;
  width: 100%;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-TODO-status .students-status-TODO-status-selector {
  border: none;
  border-radius: 2px;
  background-color: #E2E8F0;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-TODO-status .students-status-TODO-status-selector .students-status-TODO-status-selection-item {
  color: #64748B;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-INPROGRESS-status .students-status-INPROGRESS-status-selector {
  border: none;
  border-radius: 2px;
  height: 30px;
  background-color: #DBEAFE;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-INPROGRESS-status .students-status-INPROGRESS-status-selector .students-status-INPROGRESS-status-selection-item {
  color: #3b82f6;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-COMPLETED-status .students-status-COMPLETED-status-selector {
  border: none;
  border-radius: 2px;
  height: 30px;
  background-color: #EEFDB0;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-COMPLETED-status .students-status-COMPLETED-status-selector .students-status-COMPLETED-status-selection-item {
  color: #49a843;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-SUBMITTED-status .students-status-SUBMITTED-status-selector {
  border: none;
  border-radius: 2px;
  height: 30px;
  background-color: #EEFDB0;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-SUBMITTED-status .students-status-SUBMITTED-status-selector .students-status-SUBMITTED-status-selection-item {
  color: #49a843;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-REWORK-status .students-status-REWORK-status-selector {
  border: none;
  border-radius: 2px;
  background-color: #FEF3C7;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-status .students-status-REWORK-status .students-status-REWORK-status-selector .students-status-REWORK-status-selection-item {
  color: #F59E0B;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-deadline {
  border-right: 2px solid #eaeaea;
  max-width: 130px;
  width: 100%;
}
.student-main-container .task-details-header-container .student-task-details-main-container .student-task-supporting-document a {
  color: #49a843;
  text-decoration: underline;
  font: 400 12px/16px roboto;
}
.student-main-container .task-details-header-container .task-editor-container p {
  padding-bottom: 6px;
  font-size: 12px;
  font-family: "Roboto";
  line-height: 16px;
  color: #969d88;
}
.student-main-container .task-details-header-container .task-editor-container .task-editor {
  padding-bottom: 16px;
}
.student-main-container .task-details-header-container .task-editor-container .task-editor p {
  color: #12160a;
  font-family: "Roboto";
}
.student-main-container .task-details-header-container .task-editor-container .task-instruction p {
  color: #12160a;
  font: 400 12px/16px "Roboto";
}
.student-main-container .task-details-header-container .task-editor-container .task-instruction a {
  color: #3b82f6;
  text-decoration: underline;
  font: 400 12px/16px "Roboto";
}
.student-main-container .task-details-header-container .task-editor-container .task-instruction ul {
  margin-left: 20px;
  padding-bottom: 17px;
}
.student-main-container .task-details-header-container .task-editor-container .task-instruction ul li {
  list-style: disc;
  font-size: 12px;
  line-height: 16px;
}
.student-main-container .task-details-header-container .student-weightage-list {
  align-items: center;
  gap: 12px;
}
.student-main-container .task-details-header-container .student-weightage-list .student-weightage-card {
  height: 28px;
  padding-right: 1px;
  padding-left: 8px;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  border-radius: 4px;
}
.student-main-container .task-details-header-container .student-weightage-list .student-weightage-card p {
  font: 400 12px/16px "Roboto";
}
.student-main-container .task-details-header-container .student-weightage-list .student-weightage-card .score {
  color: #12160a;
  margin-left: 5px;
  font: 500 12px/16px "Roboto";
  background-color: #F8FBF2;
  width: 23px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.student-main-container .task-details-header-container .student-weightage-list .student-weightage-card span {
  font: 400 12px/16px "Roboto";
  margin-left: 3px;
  color: #12160a;
}
.student-main-container .task-details-header-container .submission-link-container .heading-line {
  align-items: center;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 5px;
}
.student-main-container .task-details-header-container .submission-link-container h3 {
  font: 400 12px/16px "Roboto";
  color: #12160a;
}
.student-main-container .task-details-header-container .submission-link-container .horizon-line {
  flex: 1;
  border-bottom: 1px solid #eaeaea;
}
.student-main-container .task-details-header-container .submission-link-container a {
  color: #3b82f6;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 320px;
  display: inline-block;
  cursor: pointer;
  font: 400 12px/16px "Roboto";
  height: 15px;
}
.student-main-container .task-details-header-container .student-task-file-container {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.student-main-container .task-details-header-container .student-task-file-container .file-content-container {
  align-items: center;
  gap: 4px;
}
.student-main-container .task-details-header-container .student-task-file-container .file-content-container img {
  width: 34px;
  height: 34px;
}
.student-main-container .task-details-header-container .student-task-file-container .file-content-container .file-details p {
  font-size: 12px;
  line-height: 16px;
  color: #12160a;
}
.student-main-container .task-details-header-container .student-task-file-container .file-content-container .file-details span {
  font-size: 10px;
  line-height: 14px;
  color: #969d88;
}
.student-main-container .task-details-header-container .student-task-file-container .file-download p {
  font-size: 12px;
  line-height: 16px;
  font-family: #12160a;
}
.student-main-container .task-details-header-container .student-task-file-container .file-download img {
  width: 16px;
  line-height: 16px;
}
.student-main-container .task-details-header-container .file-input-container {
  position: relative;
  width: 100%;
  padding: 14px 0;
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.student-main-container .task-details-header-container .file-input-container .upload-icon-container {
  align-items: center;
  gap: 8px;
}
.student-main-container .task-details-header-container .file-input-container .upload-icon-container label {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
}
.student-main-container .task-details-header-container .file-input-container .upload-icon-container label .highlight {
  color: #49a843;
}
.student-main-container .task-details-header-container .file-input-container .upload-icon-container .upload-icon {
  width: 16px;
  height: 16px;
}
.student-main-container .task-details-header-container .file-input-container .file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.student-main-container .task-details-header-container .weightage-label-container {
  align-items: center;
  gap: 11px;
  padding-bottom: 16px;
}
.student-main-container .task-details-header-container .weightage-label-container h3 {
  font: 400 12px/16px "Roboto";
}
.student-main-container .task-details-header-container .weightage-label-container .horizon-line {
  flex: 1;
  border-bottom: 1px solid #eaeaea;
}
.student-main-container .task-details-header-container .weightage-adding-container .weight-input .weightage-select {
  display: flex;
  gap: 10px;
  align-items: center;
}
.student-main-container .task-details-header-container .weightage-adding-container .weight-input p {
  font-size: 12px;
  font-family: "Roboto";
  color: #969d88;
  padding-bottom: 6px;
}
.student-main-container .task-details-header-container .weightage-adding-container .weight-input select,
.student-main-container .task-details-header-container .weightage-adding-container .weight-input input {
  padding: 10px 14px;
  max-width: 200px;
  width: 100%;
  margin-right: 10px;
  border: 1px solid #12160a;
  border-radius: 4px;
  outline: none;
  border: 1px solid #eaeaea;
  color: black;
  background-color: white;
  font-family: "Roboto";
}
.student-main-container .task-details-header-container .weightage-adding-container .weight-input .weightage-action {
  display: inline-flex;
}
.student-main-container .task-details-header-container .weightage-adding-container .weight-input .weightage-action span {
  padding: 8px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #12160a;
  border: 1px solid #eaeaea;
  padding: 10px;
  display: inline-block;
  font-family: "Roboto";
}
.student-main-container .task-details-header-container .weightage-adding-container .weight-input .weightage-action .increment {
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  font-family: "Roboto";
}
.student-main-container .task-details-header-container .weightage-adding-container .weight-input .weightage-action .decrement {
  border-radius: 0px 4px 4px 0px;
  font-family: "Roboto";
}
.student-main-container .student-task-label-container {
  align-items: center;
  gap: 11px;
  padding-bottom: 16px;
}
.student-main-container .student-task-label-container h3 {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  font-weight: 400;
}
.student-main-container .student-task-label-container .horizon-line {
  flex: 1;
  border-bottom: 1px solid #eaeaea;
}
.student-main-container .file-input-container {
  position: relative;
  width: 100%;
  padding: 14px 0;
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.student-main-container .file-input-container .upload-icon-container {
  align-items: center;
  gap: 8px;
}
.student-main-container .file-input-container .upload-icon-container label {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
}
.student-main-container .file-input-container .upload-icon-container label .highlight {
  color: #49a843;
}
.student-main-container .file-input-container .upload-icon-container .upload-icon {
  width: 16px;
  height: 16px;
}
.student-main-container .file-input-container .file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/*# sourceMappingURL=StudentLogin.css.map */
