.sidebar {
  max-width: 200px;
  width: 100%;
  background-color: #333;
  color: white;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.main {
  margin-left: 200px;
}
.menu-container {
  margin: 26px 0px;
  padding: 10px;
}
.active {
  background-color: #223f64;
  border-radius: 0px 15px 15px 0px;
}
.setting {
  margin-top: auto;
  padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 21px;
  padding-left: 20px;
}

.logo {
  padding: 47px 40px 0px;
}
/* .content {
  background-color: #f4f7fa;
  border-radius: 5px;
} */

.navbar {
  max-width: 1200px;
  width: 100%;
  background-color: #444;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* task starting page */


.task__start_page {
  background-color: white;
}
.task__start_page .breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #223f64;
}
.test__module_mode {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.task__start_page .test__module_mode .test_module,
.quizz_module {
  border: 1px solid gray;
  text-align: center;
  padding: 40px;
  color: #223f64;
  cursor: pointer;
  max-width: 130px;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

span.ant-dropdown-trigger {
  background-color: #223f64;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

