:root {
  --primary-color: #223f64;
  --secondary-color: #3f88d8;
  --text-primary-color: #24384f;
  --font-family: "Poppins", sans-serif;
  --text-secondary-color: white;
  --h1-font-size: 32px;
  --p-font-size: 24px;
  --error: red;
}
.btn.edit-btn{
  color: white;
  background-color: var(--primary-color);
}
.btn.delete-btn{
  color: white;
  background-color: var(--error);
}
.btn.add-task{
  background-color: var(--primary-color);
  color: white;
}

