/* Resetting default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Defining custom root variables, such as primary color */

:root {
    --primary-color: #223F64;
    --secondray-color: #3F88D8;
    --text-primary-color: #24384F;
    --text-secondray-color: white;
    --font-family: 'Poppins', sans-serif;
}


/* Styling for image reset within a container */
.resetImage img {
    padding: 20px;
    width: 500px;
    margin: 60px;
}

/* Styling for the forgot password container using flexbox */
.forgot-password-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for a circle element with an icon inside */
.circle span.material-symbols-outlined {
    font-size: 48px;
}

/* Styling for a circle on the right side with specific positioning and colors */
.right-side .circle span.material-symbols-outlined {
    margin: 55px 270px;
    color: var(--primary-color);
    background-color: #DBECFF;
    padding: 38px;
    border-radius: 50%;
    rotate: -30deg;
    /* Note: 'rotate' property is misspelled, it should be 'transform: rotate(-30deg)' */
}

/* Styling for the header section */
.header h3 {
    color: var(--text-primary-color);
    font-family: var(--font-family);
    font-size: 32px;
    padding-bottom: 20px;
}

.header {
    max-width: 428px;
    width: 100%;
    margin: auto;
    padding-bottom: 35px;
}

/* Styling for header paragraphs */
.header p {
    color: var(--text-primary-color);
    font-family: var(--font-family);
    font-size: 16px;
}

/* Styling for the container with email input and icon */
.emailAndicon {
    display: flex;
    margin-bottom: 10px;
}

/* Styling for email input label */
.email-input label {
    color: var(--text-primary-color);
    font-family: var(--font-family);
    font-size: 20px;
}

.email-input {
    max-width: 428px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

/* Styling for the email input and its associated icon */
.emailAndicon span {
    padding: 10px 20px;
    border: 2px solid #3F88D8;
    border-radius: 10px 0 0 10px;
    color: var(--text-primary-color);
}

/* Styling for the email input field */
input.forgot-password-input {
    width: 425px;
    border: 2px solid #3F88D8;
    border-left: 0px;
    border-radius: 0 10px 10px 0;
    padding-left: 10px;
    outline: 0;
    font-size: 16px;
    color: var(--text-primary-color);
}

/* Styling for the reset password button and its container */
.resetpassword {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.resetpassword button {
    display: inline-flex;
    padding: 6px 120px 6px 120px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: #FFF;
    font-family: var(--font-family);
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Styling for the back link within an input container */
.input-container .back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #96969C;
    font-family: var(--font-family);
    font-size: 16px;
    cursor: pointer;
}

/* Styling for a symbol indicating required input in red */
.email-input .required-symbole {
    color: red;
}

.error-message {
    height: 20px;
    color: red;
}

.forgot-heading{
    padding-left: 114px;
    margin-bottom: 10px;
}

.forgot-heading h3 {
    color: #223F64;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: var(--font-family);
}

.forgot-heading p {
    color: var(--Primary-colour, #223F64);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.back a{
    color: #96969C;
}