@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
  border: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #49a843;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #49a843;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background-color: #49a843;
}

body {
  background-color: white;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #969d88;
  font-family: "Roboto";
}

li {
  list-style: none;
}

.input-active {
  border: 1px solid #49a843;
}

.btn {
  width: 90px;
  height: 38px;
  padding: 10px 24px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  font-family: "Roboto";
}

.btn.primary-medium {
  background-color: #49a843;
  color: white;
  cursor: pointer;
}
.btn.primary-medium:hover {
  background-color: #33762f;
}
.btn.primary-medium:active {
  background-color: #33762f;
  opacity: 30%;
}

.btn.primary-medium-default {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: white;
}

.btn.primary-medium-icon {
  background-color: #49a843;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.btn.primary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.primary-medium-icon:hover {
  background-color: #33762f;
}
.btn.primary-medium-icon:active {
  background-color: #33762f;
  opacity: 30%;
}

.btn.secondary-medium {
  color: #49a843;
  border: 1px solid #49a843;
  background-color: white;
  cursor: pointer;
}
.btn.secondary-medium:hover {
  color: #33762f;
  border: 1px solid #33762f;
}
.btn.secondary-medium:active {
  color: #49a843;
  border: 1px solid #49a843;
  opacity: 30%;
}

.btn.secondary-medium-default {
  color: #969d88;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  cursor: not-allowed;
}

.btn.secondary-medium-icon {
  background-color: white;
  color: #49a843;
  border: 1px solid #49a843;
  cursor: pointer;
  font-weight: 500;
}
.btn.secondary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.secondary-medium-icon:hover {
  border: 1px solid #33762f;
  color: #33762f;
}
.btn.secondary-medium-icon:active {
  border: 1px solid #33762f;
  background-color: white;
  opacity: 30%;
}

.error-message {
  padding-top: 6px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #ef4444;
}

.error-notify {
  border: 1px solid #ef4444 !important;
  color: #ef4444;
  border-radius: 4px;
}

.selector {
  max-width: 150px;
  height: 36px;
  width: 100%;
  font-size: 12px;
  font-family: "Roboto";
  color: #12160a;
  outline: none;
}
.selector .ant-select-selector {
  border: 1px solid #eaeaea !important;
  border-radius: 4px;
}

.ant-select-focused .ant-select-selector {
  border-color: #49a843 !important;
  box-shadow: none !important;
}

.ant-select-item-option-content {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  color: #12160a;
}

.datepicker {
  max-width: 150px;
  height: 36px;
  width: 100%;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  box-shadow: none !important;
}
.datepicker:focus {
  border: 1px solid green !important;
  box-shadow: none !important;
}
.datepicker:hover {
  border: 1px solid #eaeaea;
}
.datepicker:active {
  border-color: green;
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #49a843 !important;
  color: white !important;
}

.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #49a843 !important;
}

.ant-picker-dropdown .ant-picker-today-btn {
  color: #49a843;
}

.ant-picker-ok button {
  background-color: #49a843;
  color: #fff;
}

.pagination .ant-pagination-item {
  border: 1px solid #eaeaea;
  border-radius: 50px;
  margin-right: 8px;
  outline: none;
}
.pagination .ant-pagination-item a {
  border-radius: 50px;
  color: #49a843;
  outline: none;
}
.pagination .ant-pagination-item-active a {
  background-color: #49a843;
  color: #fff;
  border-color: #49a843;
  outline: none;
}
.pagination .ant-pagination-item-active a:hover {
  background-color: #33762f;
  color: white;
  outline: none;
}

body .container {
  display: flex;
}
body .container .side-nav-container {
  max-width: 160px;
  width: 100%;
  background-color: #f8fbf2;
  height: 100vh;
  flex-direction: column;
}
body .container .side-nav-container .logo {
  max-width: 100%;
  width: 100%;
  margin-bottom: 32px;
  padding: 16px;
  cursor: pointer;
}
body .container .side-nav-container .batch-switch-container {
  background-color: #f2f9e4;
  padding: 8px 16px;
  align-items: center;
  justify-content: space-between;
}
body .container .side-nav-container .batch-switch-container .batch-content-container {
  align-items: center;
  gap: 6px;
}
body .container .side-nav-container .batch-switch-container .batch-content-container .batch-logo {
  background-color: #cdeec7;
  border-radius: 50%;
  padding: 8px 10px;
}
body .container .side-nav-container .batch-switch-container .batch-content-container .batch-logo p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto";
  color: #12160a;
}
body .container .side-nav-container .batch-switch-container .batch-content-container .batch-name p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto";
  color: #12160a;
}
body .container .side-nav-container .batch-switch-container .batch-content-container .batch-name span {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #969d88;
}
body .container .side-nav-container .batch-switch-container .switch-icon img {
  width: 16px;
  height: 16px;
  color: #969d88;
  rotate: -90deg;
}
body .container .side-nav-container .nav-links {
  flex: 1;
  padding: 16px;
}
body .container .side-nav-container .nav-links ul {
  margin: -10px 0;
}
body .container .side-nav-container .nav-links ul .main-link {
  font: 400 12px/18px "Roboto";
  color: #969d88;
  margin: 20px 0;
  cursor: pointer;
}
body .container .side-nav-container .nav-links ul .main-link :hover {
  font-weight: 500;
  color: #12160A;
}
body .container .side-nav-container .nav-links ul .main-link a {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #969d88;
}
body .container .side-nav-container .nav-links ul .main-link a img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  font-family: "Roboto";
}
body .container .side-nav-container .nav-links ul .main-link .sub-links {
  padding-left: 8px;
  border-left: 1px solid #49a843;
  margin: 8px 0;
  margin-left: 8px;
}
body .container .side-nav-container .nav-links ul .main-link .sub-links li {
  padding-left: 10px;
  padding-bottom: 12px;
  font-family: "Roboto";
}
body .container .side-nav-container .nav-links ul .main-link .sub-links li:hover a {
  color: #49a843;
  font-family: "Roboto";
}
body .container .side-nav-container .nav-links ul .main-link .sub-links .sub-link a {
  color: #969d88;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
body .container .side-nav-container .nav-links ul .main-link .sub-links .sub-link.sub-active a {
  color: #49a843;
}
body .container .side-nav-container .nav-links ul .main-link.main-active {
  font-weight: 500;
  color: #12160a;
  position: relative;
}
body .container .side-nav-container .nav-links ul .main-link.main-active a {
  font-size: 12px;
  line-height: 16px;
  color: #12160a;
  font-weight: 500;
  font-family: "Roboto";
}
body .container .side-nav-container .user-profile {
  gap: 7px;
  align-items: center;
  padding: 16px;
}
body .container .side-nav-container .user-profile .profile-img {
  width: 40px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  background: linear-gradient(12deg, transparent 0%, #49a843 100%);
  border-radius: 50px;
  padding: 4px;
  box-sizing: border-box;
}
body .container .side-nav-container .user-profile .profile-img img {
  width: 100%;
  height: auto;
}
body .container .side-nav-container .user-profile .user-details p {
  font-size: 12px;
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 500;
  color: #12160a;
  font-weight: bolder;
}
body .container .side-nav-container .user-profile .user-details span {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #969d88;
}
body .container .popup-container {
  position: absolute;
  left: 160px;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 301px;
  z-index: 999;
  padding: 20px;
}
body .container .popup-container .popup-content .inner-content {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}
body .container .popup-container .popup-content .inner-content h3 {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  color: #12160a;
  line-height: 18px;
  padding-bottom: 4px;
}
body .container .popup-container .popup-content .inner-content .cancel-btn {
  width: 16px;
  cursor: pointer;
}
body .container .popup-container .popup-content .add-batch {
  padding-bottom: 10px;
}
body .container .popup-container .popup-content .add-batch .add-batch-btn {
  width: 100%;
  padding: 8px 0;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  background-color: white;
  font-family: "Roboto";
}
body .container .popup-container .popup-content .add-batch .add-batch-btn span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #12160a;
  font-family: "Roboto";
}
body .container .popup-container .switch-batch-list-container {
  overflow: scroll;
  height: calc(100vh - 110px);
  overflow-y: auto;
}
body .container .popup-container .switch-batch-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body .container .popup-container .switch-batch-list-container .switch-batch-card {
  padding: 14px 16px;
  border-radius: 4px;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  width: 100%;
  margin-bottom: 12px;
}
body .container .popup-container .switch-batch-list-container .switch-batch-card .batch-left-side .batch-name-year h4 {
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto";
  color: #12160a;
  font-weight: 500;
}
body .container .popup-container .switch-batch-list-container .switch-batch-card .batch-left-side .batch-name-year p {
  color: #969d88;
  font-size: 10px;
  line-height: 14px;
  font-family: "Roboto";
  font-weight: 400;
}
body .container .popup-container .switch-batch-list-container .switch-batch-card .batch-left-side .tag span {
  padding: 2px 8px;
  background-color: #eefdb0;
  color: #49a843;
  border-radius: 4px;
  font-size: 10px;
  line-height: 14px;
  font-family: "Roboto";
}
body .container .listing-container {
  max-width: 301px;
  width: 100%;
  padding: 24px 20px 0px 20px;
  border-right: 1px solid #eaeaea;
}
body .container .listing-container h1 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  font-weight: 500;
  font-family: "Roboto";
  text-transform: capitalize;
}
body .container .listing-container .search-container {
  position: relative;
}
body .container .listing-container .search-container input {
  width: 100%;
  height: 36px;
  padding-left: 33px;
  border-radius: 4px;
  color: #12160a;
  border: 1px solid #eaeaea;
  font-family: "Roboto";
}
body .container .listing-container .search-container img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
}
body .container .listing-container .search-container .search-icon {
  left: 12px;
}
body .container .listing-container .search-container .filter-icon {
  right: 12px;
}
body .container .listing-container .create-container {
  margin: 12px 0px 8px;
}
body .container .listing-container .create-container .btn.create-btn {
  width: 100%;
  padding: 8px 0;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  background-color: white;
  font-family: "Roboto";
  text-transform: capitalize;
}
body .container .listing-container .create-container .btn.create-btn span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #12160a;
  font-family: "Roboto";
}
body .container .listing-container .create-container .btn.create-btn span span:hover {
  color: #fff;
}
body .container .listing-container .create-container .btn.create-btn:hover {
  background-color: #33762F;
  color: #fff;
}
body .container .listing-container .task-list-container {
  height: 460px;
  overflow: scroll;
  height: calc(100vh - 200px);
  overflow-y: auto;
  box-sizing: border-box;
}
body .container .listing-container .task-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body .container .listing-container .task-list-container .task-card {
  max-width: 261px;
  height: 98px;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  max-height: 98px;
  margin-bottom: 8px;
  background-color: white;
  font-family: "Roboto";
  cursor: pointer;
}
body .container .listing-container .task-list-container .task-card:hover {
  background-color: #f8fbf2;
}
body .container .listing-container .task-list-container .task-card .task-icon {
  background-color: yellow;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  padding: 8px;
  margin-right: 7px;
}
body .container .listing-container .task-list-container .task-card .task-icon span {
  font-size: 9px;
  font-family: "Roboto";
  font-weight: 500;
  color: #12160a;
}
body .container .listing-container .task-list-container .task-card .task-details {
  width: 100%;
}
body .container .listing-container .task-list-container .task-card .task-details .task-name-with-icon {
  justify-content: space-between;
}
body .container .listing-container .task-list-container .task-card .task-details .task-name-with-icon h2 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto";
  flex: 1;
}
body .container .listing-container .task-list-container .task-card .task-details .task-name-with-icon img {
  width: 16px;
  height: 16px;
  visibility: hidden;
  cursor: pointer;
}
body .container .listing-container .task-list-container .task-card .task-details .task-name-with-icon .delete-icon {
  margin-left: 5px;
  cursor: pointer;
}
body .container .listing-container .task-list-container .task-card .task-details .task-description {
  max-width: 205px;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 4px 0;
  color: #969d88;
  font-family: "Roboto";
}
body .container .listing-container .task-list-container .task-card .task-details .btn-inprogress {
  padding: 2px 8px;
  font-size: 10px;
  line-height: 14px;
  border-radius: 2px;
  margin-right: 6px;
  background-color: #dbeafe;
  color: #49a843;
  font-family: "Roboto";
}
body .container .listing-container .task-list-container .task-card .task-details .btn-deadline {
  padding: 2px 8px;
  font-size: 10px;
  line-height: 14px;
  border-radius: 2px;
  margin-right: 6px;
  font-family: "Roboto";
  color: #f59e0b;
  background-color: #fef3c7;
  font-family: "Roboto";
}
body .container .listing-container .task-list-container .task-card:hover .task-name-with-icon img {
  visibility: visible;
}
body .container .listing-container .task-list-container .task-card.active {
  background-color: #f8fbf2;
}
body .container .listing-container .task-list-container .task-card.active .task-name-with-icon .edit-icon {
  visibility: visible;
}
body .container .select-something-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}
body .container .select-something-container .image-container img {
  max-width: 350px;
  width: 100%;
}
body .container .select-something-container .image-container .select-something-heading {
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto";
  color: #12160a;
  font-weight: 500;
  text-align: center;
}
body .container .main-container {
  padding: 20px;
  width: 100%;
  border-right: 1px solid #eaeaea;
}
body .container .main-container .module-header-section-container {
  padding-bottom: 14px;
}
body .container .main-container .module-header-section-container .module-header-section {
  justify-content: space-between;
  align-items: center;
}
body .container .main-container .module-header-section-container .module-header-section .module-title-section {
  gap: 8px;
}
body .container .main-container .module-header-section-container .module-header-section .module-title-section input {
  font-size: 16px;
}
body .container .main-container .module-header-section-container .module-header-section .module-title-section input:hover {
  background-color: red;
}
body .container .main-container .module-header-section-container .module-header-section .module-title-section .task-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto";
  color: #12160a;
  outline: #12160a;
  padding-left: 10px;
}
body .container .main-container .module-header-section-container .module-header-section .module-title-section img {
  width: 20px;
  height: 20px;
}
body .container .main-container .module-header-section-container .module-header-section .module-title-section .yes-btn {
  padding: 5px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 10px;
  font-family: "Roboto";
  cursor: pointer;
}
body .container .main-container .module-header-section-container .module-header-section .module-title-section .no-btn {
  padding: 5px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 10px;
  font-family: "Roboto";
  margin-left: 5px;
  cursor: pointer;
}
body .container .main-container .task-details-header-container {
  height: calc(100vh - 110px);
  overflow-y: auto;
}
body .container .main-container .task-details-header-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body .container .main-container .task-details-header-container .task-label-container {
  padding-bottom: 16px;
  align-items: center;
  gap: 11px;
}
body .container .main-container .task-details-header-container .task-label-container h4 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto";
  color: #12160a;
}
body .container .main-container .task-details-header-container .task-label-container .horizon-line {
  flex: 1;
  border: 1px solid #eaeaea;
}
body .container .main-container .task-details-header-container .task-details-main-container {
  gap: 20px;
  padding-bottom: 20px;
}
body .container .main-container .task-details-header-container .task-details-main-container .task-type-container .task-type-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto";
  color: #969d88;
  padding-bottom: 6px;
}
body .container .main-container .task-details-header-container .task-details-main-container .task-type-container .task-type-selector {
  padding: 10px 12px;
  outline: none;
  background-color: white;
  color: #12160a;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  width: 100%;
  font-family: "Roboto";
}
body .container .main-container .task-details-header-container .task-details-main-container .task-deadline-container .task-deadline-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto";
  color: #969d88;
  padding-bottom: 6px;
}
body .container .main-container .task-details-header-container .task-details-main-container .task-deadline-container .datepicker.task-deadline-selector {
  max-width: 200px;
  width: 100%;
}
body .container .main-container .task-details-header-container .task-details-main-container .task-assigner-container {
  max-width: 270px;
  width: 100%;
}
body .container .main-container .task-details-header-container .task-details-main-container .task-assigner-container .task-assigner-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto";
  color: #969d88;
  padding-bottom: 6px;
}
body .container .main-container .task-details-header-container .task-details-main-container .task-assigner-container .task-assigner-selector {
  max-width: 269px;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  color: #12160a;
}
body .container .main-container .task-details-header-container .task-details-main-container .task-assigner-container img {
  width: 16px;
  height: 16px;
}
body .container .main-container .task-details-header-container .task-details-main-container .common-property {
  max-width: 200px;
  width: 100%;
}
body .container .main-container .task-details-header-container .task-editor-container {
  padding-bottom: 16px;
}
body .container .main-container .task-details-header-container .task-editor-container .task-description-label {
  padding-bottom: 6px;
  font-size: 12px;
  font-family: "Roboto";
  line-height: 12px;
  font-weight: 400;
  color: #969d88;
}
body .container .main-container .task-details-header-container .task-editor-container .task-editor .quill .ql-toolbar.ql-snow {
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #eaeaea;
}
body .container .main-container .task-details-header-container .task-editor-container .task-editor .quill .ql-container.ql-snow {
  height: 171px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #eaeaea;
}
body .container .main-container .task-details-header-container .task-editor-container .task-editor .quill .ql-container.ql-snow p {
  color: #12160a;
}
body .container .main-container .task-details-header-container .submission-folder-link-container {
  padding-bottom: 16px;
  padding: 10px 0px 10px 12px;
  width: 100%;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #12160a;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}
body .container .main-container .task-details-header-container .submission-folder-link-container .task-submission-link {
  padding: 10px 0px 10px 12px;
  width: 100%;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #12160a;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}
body .container .main-container .task-details-header-container .file-input-container {
  position: relative;
  width: 100%;
  padding: 14px 0;
  border: 2px dashed #eaeaea;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}
body .container .main-container .task-details-header-container .file-input-container .upload-icon-container {
  align-items: center;
  gap: 8px;
}
body .container .main-container .task-details-header-container .file-input-container .upload-icon-container .upload-icon {
  width: 16px;
  height: 16px;
}
body .container .main-container .task-details-header-container .file-input-container .upload-icon-container p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto";
}
body .container .main-container .task-details-header-container .file-input-container .upload-icon-container p .highlight {
  color: #49a843;
  padding-left: 2px;
}
body .container .main-container .task-details-header-container .file-input-container .file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
body .container .main-container .task-details-header-container .weightage-label-container {
  align-items: center;
  gap: 11px;
  padding-bottom: 16px;
}
body .container .main-container .task-details-header-container .weightage-label-container h3 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto";
  color: #12160a;
}
body .container .main-container .task-details-header-container .weightage-label-container .horizon-line {
  flex: 1;
  border: 1px solid #eaeaea;
}
body .container .main-container .task-details-header-container .weightage-adding-container .weight-inputs p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto";
  color: #969d88;
  padding-bottom: 6px;
}
body .container .main-container .task-details-header-container .weightage-adding-container .weight-inputs .weightage-unit-container {
  max-width: 364px;
  width: 100%;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
body .container .main-container .task-details-header-container .weightage-adding-container .weight-inputs .weightage-unit-container .task-weightage-selector {
  padding: 10px 12px;
  max-width: 200px;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  outline: none;
  color: #12160a;
  background-color: white;
  font-family: "Roboto";
}
body .container .main-container .task-details-header-container .weightage-adding-container .weight-inputs .weightage-unit-container .task-weight-value-selector {
  max-width: 72px;
  width: 100%;
  padding: 10px 0px 10px 12px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
body .container .main-container .task-details-header-container .weightage-adding-container .weight-inputs .weightage-unit-container .weightage-action .btn.increment-btn {
  background-color: white;
  cursor: pointer;
  color: #12160a;
  border: 1px solid #eaeaea;
  padding: 10px;
  font-family: "Roboto";
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  font-family: "Roboto";
}
body .container .main-container .task-details-header-container .weightage-adding-container .weight-inputs .weightage-unit-container .weightage-action .btn.decrement-btn {
  background-color: white;
  cursor: pointer;
  color: #12160a;
  border: 1px solid #eaeaea;
  padding: 10px;
  font-family: "Roboto";
  border-radius: 0px 4px 4px 0px;
  font-family: "Roboto";
}
body .container .main-container .task-details-header-container .task-create-btn-section {
  justify-content: end;
}
body .container .assignee-and-weightage-container {
  max-width: 301px;
  width: 100%;
  padding: 24px 20px;
}
body .container .assignee-and-weightage-container .title-section {
  max-width: 167px;
  width: 100%;
  margin: 0 auto;
  gap: 24px;
}
body .container .assignee-and-weightage-container .title-section .selection {
  cursor: pointer;
}
body .container .assignee-and-weightage-container .title-section .selection h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  line-height: 20px;
  padding-bottom: 5px;
}
body .container .assignee-and-weightage-container .title-section .selection.active {
  border-bottom: 2px solid #49a843;
}
body .container .assignee-and-weightage-container .assign-listing-container {
  padding-top: 20px;
}
body .container .assignee-and-weightage-container .assign-listing-container .select-all {
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;
}
body .container .assignee-and-weightage-container .assign-listing-container .select-all .span {
  font-size: 12px;
  font-family: "Roboto";
}
body .container .assignee-and-weightage-container .assign-listing-container .assignee-card-listing-container .individual-assignee-card {
  gap: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid #EAEAEA;
}
body .container .assignee-and-weightage-container .assign-listing-container .assignee-card-listing-container .individual-assignee-card input[type=checkbox]:checked {
  color: #49a843;
}
body .container .assignee-and-weightage-container .assign-listing-container .assignee-card-listing-container .individual-assignee-card input:checked:before {
  background-color: green;
}
body .container .assignee-and-weightage-container .assign-listing-container .assignee-card-listing-container .individual-assignee-card .profile {
  gap: 6px;
  align-items: center;
}
body .container .assignee-and-weightage-container .assign-listing-container .assignee-card-listing-container .individual-assignee-card .profile .profile-letter {
  background-color: #49a843;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
}
body .container .assignee-and-weightage-container .assign-listing-container .assignee-card-listing-container .individual-assignee-card .profile .profile-letter span {
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
