@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$font-Roboto: "Roboto";
$font-primary-color: #12160a;
$font-secondary-color: #969d88;

ul {
  li {
    display: flex;
    align-items: center;
    font: 400 16px/30px $font-Roboto;
    color: $font-primary-color;
    span {  
      .close-btn {
        height: 22px;
        width: 22px;
      }
    }
  }
}
