@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
  border: none;
  -webkit-user-select: none;
  /* Safari */
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #49a843;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #49a843;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background-color: #49a843;
}

body {
  background-color: white;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #969d88;
  font-family: "Roboto";
}

li {
  list-style: none;
}

.btn {
  width: 90px;
  height: 38px;
  padding: 10px 24px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  font-family: "Roboto";
}

.btn.primary-medium {
  background-color: #49a843;
  color: white;
  cursor: pointer;
}
.btn.primary-medium:hover {
  background-color: #33762f;
}
.btn.primary-medium:active {
  background-color: #33762f;
  opacity: 30%;
}

.btn.primary-medium-default {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: white;
}

.btn.primary-medium-icon {
  background-color: #49a843;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.btn.primary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.primary-medium-icon:hover {
  background-color: #33762f;
}
.btn.primary-medium-icon:active {
  background-color: #33762f;
  opacity: 30%;
}

.btn.secondary-medium {
  color: #49a843;
  border: 1px solid #49a843;
  background-color: white;
  cursor: pointer;
}
.btn.secondary-medium:hover {
  color: #33762f;
  border: 1px solid #33762f;
}
.btn.secondary-medium:active {
  color: #49a843;
  border: 1px solid #49a843;
  opacity: 30%;
}

.btn.secondary-medium-default {
  color: #969d88;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  cursor: not-allowed;
}

.btn.secondary-medium-icon {
  background-color: white;
  color: #49a843;
  border: 1px solid #49a843;
  cursor: pointer;
  font-weight: 500;
}
.btn.secondary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.secondary-medium-icon:hover {
  border: 1px solid #33762f;
  color: #33762f;
}
.btn.secondary-medium-icon:active {
  border: 1px solid #33762f;
  background-color: white;
  opacity: 30%;
}

.error-message {
  padding-top: 6px;
  height: 16px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  color: #ef4444;
}

.error-notify {
  border: 1px solid #ef4444 !important;
  color: #ef4444;
  border-radius: 4px;
}

body .container .loader-wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}
body .container .loader-wrapper .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #49a843;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}
@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
body .container .loader-wrapper .circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
body .container .loader-wrapper .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
body .container .loader-wrapper .shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: #969d88;
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}
@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
body .container .loader-wrapper .shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
body .container .loader-wrapper .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
body .container .forgot-page-container {
  width: 100%;
  height: 100vh;
  background-image: url(/icons/login-frame.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .container .forgot-page-container .logo-container {
  padding: 24px 0px 0px 16px;
}
body .container .forgot-page-container .logo-container .logo {
  max-width: 146px;
  height: 47px;
  width: 100%;
}
body .container .forgot-page-container .forgot-container {
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  gap: 115px;
}
body .container .forgot-page-container .forgot-container .login-image-container img {
  max-width: 530px;
  width: 100%;
  height: 530px;
}
body .container .forgot-page-container .forgot-container .forgot-form-container {
  background-color: white;
  max-width: 375px;
  width: 100%;
  padding: 32px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .back {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font: 400 12px/16px "Roboto";
  cursor: pointer;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .back span {
  color: #969d88;
  font: 400 12px/16px "Roboto";
}
body .container .forgot-page-container .forgot-container .forgot-form-container .back .backtologin {
  font: 400 12px/16px "Roboto";
  margin-left: 6px;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .form-heading h1 {
  font: 500 24px/28px "Roboto";
  color: #12160a;
  padding-bottom: 6px;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .form-heading p {
  font: 400 16px/20px "Roboto";
  color: #12160a;
  padding-bottom: 24px;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .email-container {
  flex-direction: column;
  margin-bottom: 32px;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .email-container label {
  font: 400 12px/16px "Roboto";
  color: #969d88;
  font-weight: 400;
  padding-bottom: 6px;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .email-container label span {
  color: #ef4444;
  margin-left: 5px;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .email-container .email-input {
  color: #12160a;
  border: 1px solid #eaeaea;
  padding: 10px 0px 10px 12px;
  border-radius: 4px;
  width: 100%;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .email-container .email-input:focus {
  border: 1px solid #49a843;
  outline: none;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .forgot-button-container button {
  width: 100%;
  align-items: center;
}
body .container .forgot-page-container .forgot-container .forgot-form-container .forgot-button-container button span .loader {
  margin-left: 8px;
}/*# sourceMappingURL=ForgotPassword.css.map */