@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
  border: none;
  -webkit-user-select: none;
  /* Safari */
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #49a843;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #49a843;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background-color: #49a843;
}

body {
  background-color: white;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #969d88;
  font-family: "Roboto";
}

li {
  list-style: none;
}

.btn {
  width: 90px;
  height: 38px;
  padding: 10px 24px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  font-family: "Roboto";
}

.btn.primary-medium {
  background-color: #49a843;
  color: white;
  cursor: pointer;
}
.btn.primary-medium:hover {
  background-color: #33762f;
}
.btn.primary-medium:active {
  background-color: #33762f;
  opacity: 30%;
}

.btn.primary-medium-default {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: white;
}

.btn.primary-medium-icon {
  background-color: #49a843;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.btn.primary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.primary-medium-icon:hover {
  background-color: #33762f;
}
.btn.primary-medium-icon:active {
  background-color: #33762f;
  opacity: 30%;
}

.focus :focus {
  border: 1px solid #49a843;
  outline: none;
}

.btn.secondary-medium {
  color: #49a843;
  border: 1px solid #49a843;
  background-color: white;
  cursor: pointer;
}
.btn.secondary-medium:hover {
  color: #33762f;
  border: 1px solid #33762f;
}
.btn.secondary-medium:active {
  color: #49a843;
  border: 1px solid #49a843;
  opacity: 30%;
}

.btn.secondary-medium-default {
  color: #969d88;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  cursor: not-allowed;
}

.btn.secondary-medium-icon {
  background-color: white;
  color: #49a843;
  border: 1px solid #49a843;
  cursor: pointer;
  font-weight: 500;
}
.btn.secondary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.secondary-medium-icon:hover {
  border: 1px solid #33762f;
  color: #33762f;
}
.btn.secondary-medium-icon:active {
  border: 1px solid #33762f;
  background-color: white;
  opacity: 30%;
}

.error-message {
  padding-top: 6px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
}

.error-notify {
  border: 1px solid #ef4444 !important;
  border-radius: 4px;
}

body .reset-password-container {
  width: 100%;
  height: 100vh;
  background-image: url(/icons/login-frame.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .reset-password-container .reset-container .logo {
  max-width: 146px;
  width: 100%;
  padding-top: 24px;
  padding-left: 16px;
}
body .reset-password-container .reset-container .content-wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  gap: 200px;
  justify-content: center;
  align-items: center;
}
body .reset-password-container .reset-container .content-wrapper .input-container {
  background-color: white;
  max-width: 405px;
  width: 100%;
  padding: 32px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
body .reset-password-container .reset-container .content-wrapper .input-container .headings .back {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
  font: 400 12px/16px "Roboto";
}
body .reset-password-container .reset-container .content-wrapper .input-container .headings .back span img {
  max-width: 100%;
  width: 100%;
}
body .reset-password-container .reset-container .content-wrapper .input-container .headings h3 {
  font: 500 24px/28px "Roboto";
  color: #12160a;
  margin-bottom: 15px;
}
body .reset-password-container .reset-container .content-wrapper .input-container .headings p {
  font: 400 16px/20px "Roboto";
  margin-bottom: 20px;
  color: #12160a;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .password {
  font: 400 12px/16px "Roboto";
  color: #969d88;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .password span {
  margin-left: 5px;
  color: red;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .input-eye-icon {
  position: relative;
  margin-bottom: 16px;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .input-eye-icon .input-field {
  border: 1px solid #eaeaea;
  height: 36px;
  max-width: 341px;
  width: 100%;
  padding: 0 12px;
  padding-right: 30px;
  border-radius: 4px;
  color: #12160a;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .input-eye-icon .input-field.error-notify {
  border: 1px solid #ef4444;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .input-eye-icon .input-field::-moz-placeholder {
  font: 400 12px/16px "Roboto";
  color: #969d88;
  max-width: 331px;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .input-eye-icon .input-field::placeholder {
  font: 400 12px/16px "Roboto";
  color: #969d88;
  max-width: 331px;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .input-eye-icon .input-field:focus {
  border: 1px solid #49a843;
  outline: none;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .rest-password-input .input-eye-icon .eye-icon {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 12px;
  font-size: 16px;
  color: #969d88;
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .reset-password .reset-sbmt-btn {
  cursor: pointer;
  height: 38px;
  max-width: 341px;
  width: 100%;
  border-radius: 4px;
  background-color: #49a843;
  color: white;
  margin-top: 16px;
  font: 400 14px/18px "Roboto";
}
body .reset-password-container .reset-container .content-wrapper .input-container .inputs .reset-password .reset-sbmt-btn:hover {
  background-color: #33762f;
}
body .reset-password-container .reset-container .content-wrapper .resetImage {
  max-width: 350px;
  width: 100%;
}/*# sourceMappingURL=ChangePassword.css.map */