@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
  border: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #49a843;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #49a843;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background-color: #49a843;
}

body {
  background-color: white;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #969d88;
  font-family: "Roboto";
}

li {
  list-style: none;
}

.btn {
  width: 90px;
  height: 38px;
  padding: 10px 24px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  font-family: "Roboto";
}

.btn.primary-medium-default {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: white;
}

.btn.primary-medium-icon {
  background-color: #49a843;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.btn.primary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.primary-medium-icon:hover {
  background-color: #33762f;
}
.btn.primary-medium-icon:active {
  background-color: #33762f;
  opacity: 30%;
}

.btn.secondary-medium {
  color: #49a843;
  border: 1px solid #49a843;
  background-color: white;
  cursor: pointer;
}
.btn.secondary-medium:hover {
  color: #33762f;
  border: 1px solid #33762f;
}
.btn.secondary-medium:active {
  color: #49a843;
  border: 1px solid #49a843;
  opacity: 30%;
}

.btn.secondary-medium-default {
  color: #969d88;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  cursor: not-allowed;
}

.btn.secondary-medium-icon {
  background-color: white;
  color: #49a843;
  border: 1px solid #49a843;
  cursor: pointer;
  font-weight: 500;
}
.btn.secondary-medium-icon::before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  font-family: "Roboto";
  font-weight: 500;
}
.btn.secondary-medium-icon:hover {
  border: 1px solid #33762f;
  color: #33762f;
}
.btn.secondary-medium-icon:active {
  border: 1px solid #33762f;
  background-color: white;
  opacity: 30%;
}

.error-message {
  padding-top: 6px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #ef4444;
}

.error-notify {
  border: 1px solid #ef4444 !important;
  color: #ef4444;
  border-radius: 4px;
}

.filter-main-container {
  overflow: auto;
  height: 500px;
}
.filter-main-container .filter-container {
  position: relative;
  padding: 10px;
}
.filter-main-container .filter-container .filter-label {
  margin-bottom: 8px;
  font-size: 12px;
  font-family: 400;
  font-family: "Roboto";
  color: #12160a;
}
.filter-main-container .filter-container input {
  display: block;
  border: 1px solid #eaeaea;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  font-family: "Roboto";
}
.filter-main-container .filter-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  background-color: white;
  color: #969d88;
}
.filter-main-container .filter-container select option {
  color: #12160a;
}
.filter-main-container .filter-container .apply-btn {
  margin-top: 10px;
  gap: 10px;
}
.filter-main-container .filter-container .apply-btn .btn.primary-medium {
  background-color: #49a843;
  color: white;
  cursor: pointer;
}
.filter-main-container .filter-container .apply-btn .btn.primary-medium:hover {
  background-color: #33762f;
}
.filter-main-container .filter-container .apply-btn .btn.primary-medium:active {
  background-color: #33762f;
  opacity: 30%;
}

body .container .application-full-container {
  width: 100%;
}
body .container .application-full-container .application-main-container {
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
body .container .application-full-container .application-main-container .header-name h1 {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
  color: #12160a;
  font-weight: 500;
}
body .container .application-full-container .application-main-container .application-actions {
  gap: 24px;
}
body .container .application-full-container .application-main-container .application-actions .application-view-handler .list-view {
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 4px 0px 0px 4px;
}
body .container .application-full-container .application-main-container .application-actions .application-view-handler .list-view img {
  width: 16px;
  height: 16px;
}
body .container .application-full-container .application-main-container .application-actions .application-view-handler .grid-view {
  background-color: #49a843;
  padding: 10px;
  border-radius: 0px 4px 4px 0px;
}
body .container .application-full-container .application-main-container .application-actions .application-view-handler .grid-view img {
  width: 16px;
  height: 16px;
}
body .container .application-full-container .application-inner-container {
  padding: 20px;
}
body .container .application-full-container .application-inner-container .search-container {
  position: relative;
  width: 100%;
  padding-bottom: 5px;
}
body .container .application-full-container .application-inner-container .search-container img {
  width: 16px;
  height: 16px;
}
body .container .application-full-container .application-inner-container .search-container input {
  width: 100%;
  padding: 10px 18px 10px 33px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}
body .container .application-full-container .application-inner-container .search-container input:focus {
  border: 1px solid #49a843;
}
body .container .application-full-container .application-inner-container .search-container .search-icon {
  position: absolute;
  left: 12px;
  top: 10px;
}
body .container .application-full-container .application-inner-container .search-container .filter-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
body .container .application-full-container .application-inner-container .filter-or-search-container {
  padding-bottom: 10px;
}
body .container .application-full-container .application-inner-container .filter-or-search-container span {
  font-size: 10px;
  line-height: 14px;
  font-family: "Roboto";
  font-weight: 400;
  color: white;
}
body .container .application-full-container .application-inner-container .filter-or-search-container .cancel-btn {
  width: 14px;
  cursor: pointer;
}
body .container .application-full-container .application-inner-container .no-data-container {
  justify-content: center;
  align-items: center;
}
body .container .application-full-container .application-inner-container .no-data-container .no-data-image {
  max-width: 400px;
  width: 100%;
}
body .container .application-full-container .application-inner-container .application-list-container {
  background-color: white;
  border-radius: 4px;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container {
  border: 1px solid #eaeaea;
  padding: 15px 18px;
  border-radius: 4px;
  margin-bottom: 12px;
  cursor: pointer;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container {
  justify-content: space-between;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-info {
  align-items: center;
  gap: 6px;
  max-width: 172px;
  width: 100%;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-info .application-name-container p {
  background-color: #d3f9cd;
  color: #12160a;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto";
  padding: 8px 6px;
  border-radius: 4px;
  font-weight: 500;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-info .application-email-container .application-name {
  color: #12160a;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 4px;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-info .application-email-container .application-email {
  color: #969d88;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  font-family: "Roboto";
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-gender {
  max-width: 50px;
  width: 100%;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-gender p {
  font-size: 12px;
  line-height: 16px;
  color: #969d88;
  font-family: "Roboto";
  font-family: 400;
  padding-bottom: 2px;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-gender span {
  color: #12160a;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-dob {
  max-width: 80px;
  width: 100%;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-dob p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #969d88;
  padding-bottom: 2px;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-dob span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #12160a;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-district {
  max-width: 100px;
  width: 100%;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-district p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #969d88;
  padding-bottom: 2px;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-district .district-heading::first-letter {
  text-transform: uppercase;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-district .district-heading {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  font-weight: 400;
  color: #12160a;
  text-transform: lowercase;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-qualification {
  max-width: 70px;
  width: 100%;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-qualification p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #969d88;
  padding-bottom: 2px;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-qualification span {
  font-size: 12px;
  line-height: 16px;
  font-family: 400;
  color: #12160a;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-mobile-no {
  max-width: 70px;
  width: 100%;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-mobile-no p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #969d88;
  padding-bottom: 2px;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-mobile-no span {
  font-size: 12px;
  line-height: 16px;
  font-family: 400;
  color: #12160a;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-10th-percentage p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #969d88;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container .application-details-container .application-10th-percentage span {
  font-size: 12px;
  line-height: 16px;
  font-family: 400;
  color: #12160a;
}
body .container .application-full-container .application-inner-container .application-list-container .application-card-container:hover {
  background-color: #f8fbf2;
}
body .container .application-full-container .application-inner-container .application-pagination-container {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 54px;
  left: 50%;
}

body .container .application-view-more-container {
  width: 100%;
  padding: 14px 20px 20px 20px;
}
body .container .application-view-more-container .left-side .top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}
body .container .application-view-more-container .left-side .top-section .application-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container .application-view-more-container .left-side .top-section .application-name .heading {
  font: 400 16px/20px "Roboto";
  color: #969d88;
  cursor: pointer;
}
body .container .application-view-more-container .left-side .top-section .application-name img {
  width: 16px;
  height: 16px;
  rotate: -90deg;
}
body .container .application-view-more-container .left-side .top-section .application-name .name {
  font: 500 14px/18px "Roboto";
  color: #12160a;
}
body .container .application-view-more-container .left-side .top-section .search-input input {
  font: 400 12px "Roboto";
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 33px;
  width: 100%;
  color: #969d88;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
body .container .application-view-more-container .left-side .top-section .search-input input::placeholder {
  color: #969d88;
}
body .container .application-view-more-container .left-side .personal-and-education-section {
  height: calc(100vh - 100px);
  overflow-y: auto;
}
body .container .application-view-more-container .left-side .personal-and-education-section::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details {
  padding: 16px 15px;
  background-color: #f7f8f7;
  border-radius: 4px;
  margin-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-heading-section {
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-heading-section .heading-name {
  font: 500 14px/18px "Roboto";
  color: #12160a;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-heading-section .horizon-line {
  flex: 1;
  height: 1px;
  background-color: #eaeaea;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section,
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .Guardian-details-section,
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .educational-details {
  max-width: 100%;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section > div,
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .Guardian-details-section > div,
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .educational-details > div {
  flex: 1 0 15%;
  margin: 0;
  padding: 0;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section > div:not(:last-child),
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section-two > div:not(:last-child),
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .Guardian-details-section > div:not(:last-child) {
  border-right: 1px solid lightgrey;
  width: 213px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section > div:not(:first-child),
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section-two > div:not(:first-child),
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .Guardian-details-section > div:not(:first-child) {
  display: flex;
  padding: 0 25px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section .personal-detial-background .details-section .personal-detial-title {
  padding-bottom: 2px;
  font: 400 12px/16px "Roboto";
  color: #969d88;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section .personal-detial-background .details-section .personal-detial-name {
  font: 400 12px/16px "Roboto";
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section .personal-detial-background .details-section .personal-detial-name a {
  color: #49a843;
  padding-left: 2px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section-two {
  max-width: 657px;
  width: 100%;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section-two p {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  color: #969d88;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section-two span {
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  color: #12160a;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-personal-details .personal-details-section-two span a {
  margin-left: 5px;
  color: #49a843;
  text-decoration: underline;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details {
  padding: 16px 15px;
  background-color: #f7f8f7;
  border-radius: 4px;
  margin-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-heading-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-heading-section .heading-name {
  color: #12160a;
  font: 500 14px/18px "Roboto";
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-heading-section .horizon-line {
  flex: 1;
  height: 1px;
  background-color: #eaeaea;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-section {
  justify-content: space-between;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-section > div:not(:last-child) {
  border-right: 1px solid lightgrey;
  width: 213px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-section > div:not(:first-child) {
  display: flex;
  padding: 0 25px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-section .Guardian-detial-background .details-section .Guardian-detial-title {
  font: 400 12px/16px "Roboto";
  color: #969d88;
  padding-bottom: 2px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-section .Guardian-detial-background .details-section .Guardian-detial-name {
  font: 400 12px/16px "Roboto";
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Guardian-details .Guardian-details-section .Guardian-detial-background .details-section .Guardian-detial-name a {
  color: #49a843;
  margin-left: 4px;
  text-decoration: underline;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details {
  padding: 16px 15px;
  background-color: #f7f8f7;
  border-radius: 4px;
  margin-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-heading-section {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-heading-section .heading-name {
  color: #12160a;
  font: 500 14px/18px "Roboto";
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-heading-section .horizon-line {
  flex: 1;
  height: 1px;
  background-color: #eaeaea;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-one-container {
  padding-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-one-container .curent-qul {
  padding-bottom: 16px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-one-container .curent-qul p {
  color: #12160a;
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  font-weight: 400;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-one-container .curent-qul p a {
  color: #49a843;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-one-container .educational-details {
  width: 100%;
  justify-content: space-between;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-one-container .educational-details span {
  color: #969d88;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 4px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-one-container .educational-details p {
  color: #12160a;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-one-container .educational-details p a {
  color: #49a843;
  margin-left: 2px;
  text-decoration: underline;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-second-container {
  padding-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-second-container .curent-qul {
  padding-bottom: 16px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-second-container .curent-qul p {
  color: #12160a;
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto";
  font-weight: 400;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-second-container .curent-qul p a {
  color: #49a843;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-second-container .educational-details {
  justify-content: space-between;
  padding-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-second-container .educational-details span {
  color: #969d88;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 4px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-second-container .educational-details p {
  color: #12160a;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-Educational-details .Educational-details-list-container .educational-background-second-container .educational-details p a {
  color: #49a843;
  text-decoration: underline;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset {
  padding: 16px 15px;
  background-color: #f7f8f7;
  border-radius: 4px;
  margin-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details {
  padding-bottom: 20px;
  justify-content: space-between;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details > div {
  flex: 1;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .skillset-container .skillset-details-heading-section {
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .skillset-container .skillset-details-heading-section .heading-name {
  font: 500 14px/18px "Roboto";
  color: #12160a;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .skillset-container .skillset-details-heading-section .horizon-line {
  flex: 1;
  height: 1px;
  background-color: #eaeaea;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .skillset-container .skillset-detial-background-section {
  padding-bottom: 10px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .skillset-container .skillset-detial-background-section .details-section .skillset-detial-title {
  font: 400 12px/16px "Roboto";
  color: #969d88;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .skillset-container .skillset-detial-background-section .details-section .skillset-detial-name {
  font: 400 12px/16px "Roboto";
  color: #12160a;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .Learning-devices-section .Learning-details-heading-section {
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .Learning-devices-section .Learning-details-heading-section .heading-name {
  font: 500 14px/18px "Roboto";
  color: #12160a;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .Learning-devices-section .Learning-details-heading-section .horizon-line {
  flex: 1;
  height: 1px;
  background-color: #eaeaea;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .Learning-devices-section .Learning-detial-background .details-section .Learning-detial-title {
  font: 400 12px/16px "Roboto";
  color: #969d88;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-skillset .skillset-and-other-details .Learning-devices-section .Learning-detial-background .details-section .Learning-detial-name {
  font: 400 12px/16px "Roboto";
  color: #12160a;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-general-details {
  padding: 16px 15px;
  background-color: #f7f8f7;
  border-radius: 4px;
  margin-bottom: 20px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-general-details .genaral-details-section .genaral-details-heading-section {
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-general-details .genaral-details-section .genaral-details-heading-section .heading-name {
  font: 500 14px/18px "Roboto";
  color: #12160a;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-general-details .genaral-details-section .genaral-details-heading-section .horizon-line {
  flex: 1;
  height: 1px;
  background-color: #eaeaea;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-general-details .genaral-details-section .general-details-list-container {
  justify-content: space-between;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-general-details .genaral-details-section .general-details-list-container > div {
  flex: 1;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-general-details .genaral-details-section .general-details-list-container span {
  color: #969d88;
  font-size: 12px;
  line-height: 16px;
  font-family: 400;
}
body .container .application-view-more-container .left-side .personal-and-education-section .main-general-details .genaral-details-section .general-details-list-container p {
  color: #12160a;
  font-size: 12px;
  line-height: 16px;
  font-family: 400;
}

/*# sourceMappingURL=Applications.css.map */
