



@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$font-Roboto: "Roboto";
$side_bar_bg: #f8fbf2;
$font-primary-color: #12160a;
$font-secondary-color: #969d88;
$border-color: #eaeaea;
$primary-color: #49a843;
$btn-hover-color: #33762f;
$btn-default: #e6e6e6;
$error-message: #ef4444;

$highlight-yellow: #f59e0b;
$highlight-yellow-bg: #fef3c7;

$highlight-blue: #3b82f6;
$highlight-blue-bg: #dbeafe;

$completed-bg: #dbeafe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-Roboto;
  outline: none;
  border: none;
  -webkit-user-select: none;
  // /* Safari */
  -ms-user-select: none;
  // /* IE 10 and IE 11 */
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $primary-color;
}

::-webkit-scrollbar-track {
  background: #ffff;
}

::-webkit-scrollbar-thumb:active {
  background-color: $primary-color;
}

body {
  background-color: #ffff;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  // display: inline-block;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: $font-secondary-color;
  font-family: $font-Roboto;
}

li {
  list-style: none;
}

.input-active {
  border: 1px solid $primary-color;
}

.btn {
  width: 90px;
  height: 38px;
  padding: 10px 24px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  font-family: $font-Roboto;
}

//primary button section
.btn.primary-medium {
  background-color: $primary-color;
  color: #ffff;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover-color;
  }

  &:active {
    background-color: $btn-hover-color;
    opacity: 30%;
  }
}

.btn.primary-medium-default {
  cursor: not-allowed;
  background-color: $btn-default;
  color: #ffff;
}

.btn.primary-medium-icon {
  background-color: $primary-color;
  color: #ffff;
  cursor: pointer;
  font-weight: 500;

  &::before {
    content: "+";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    font-family: $font-Roboto;
    font-weight: 500;
  }

  &:hover {
    background-color: $btn-hover-color;
  }

  &:active {
    background-color: $btn-hover-color;
    opacity: 30%;
  }
}

//secondary button section
.btn.secondary-medium {
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: #ffff;
  cursor: pointer;

  &:hover {
    color: $btn-hover-color;
    border: 1px solid $btn-hover-color;
  }

  &:active {
    color: $primary-color;
    border: 1px solid $primary-color;
    opacity: 30%;
  }
}

.btn.secondary-medium-default {
  color: $font-secondary-color;
  background-color: #ffff;
  border: 1px solid$border-color;
  border-radius: 4px;
  cursor: not-allowed;
}

.btn.secondary-medium-icon {
  background-color: #ffff;
  color: $primary-color;
  border: 1px solid$primary-color;
  cursor: pointer;
  font-weight: 500;

  &::before {
    content: "+";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    font-family: $font-Roboto;
    font-weight: 500;
  }

  &:hover {
    border: 1px solid$btn-hover-color;
    color: $btn-hover-color;
  }

  &:active {
    border: 1px solid$btn-hover-color;
    background-color: #ffff;
    opacity: 30%;
  }
}

//sec small

@mixin secondary-btn-sm {
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: #ffff;
  padding: 8px 24px;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-Roboto;
  outline: none;
  border-radius: 4px;
}

.error-message {
  padding-top: 6px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: $error-message;
}

.error-notify {
  border: 1px solid $error-message !important;
  color: $error-message;
  border-radius: 4px;
}

.selector {
  max-width: 150px;
  height: 36px;
  width: 100%;
  font-size: 12px;
  font-family: $font-Roboto;
  color: $font-primary-color;
  outline: none;
  .ant-select-selector {
    border: 1px solid $border-color !important;
    border-radius: 4px;
  }
}

//antd select focus and select change color
.ant-select-focused .ant-select-selector {
  border-color: $primary-color !important;
  box-shadow: none !important;
}

//antd select inside the option style

.ant-select-item-option-content {
  font-size: 12px;
  font-family: $font-Roboto;
  font-weight: 500;
  line-height: 16px;
  color: $font-primary-color;
}

//datepicker

.datepicker {
  max-width: 150px;
  height: 36px;
  width: 100%;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  box-shadow: none !important;

  &:focus {
    border: 1px solid green !important;
    box-shadow: none !important;
  }

  &:hover {
    border: 1px solid #eaeaea;
  }

  &:active {
    border-color: green;
  }
}

.ant-picker-cell-selected {
  .ant-picker-cell-inner {
    background-color: $primary-color !important;
    color: #ffff !important;
  }
}

.ant-picker-cell-today {
  .ant-picker-cell-inner::before {
    border: 1px solid $primary-color !important;
  }
}

.ant-picker-dropdown {
  .ant-picker-today-btn {
    color: $primary-color;
  }
}
.ant-picker-ok {
  button {
    background-color: $primary-color;
    color: #fff;
  }
}

//pagination

.pagination {
  .ant-pagination-item {
    border: 1px solid $border-color;
    border-radius: 50px;
    margin-right: 8px;
    outline: none;
  }
  .ant-pagination-item a {
    border-radius: 50px;
    color: $primary-color;
    outline: none;
  }

  .ant-pagination-item-active a {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
    outline: none;

    &:hover {
      background-color: $btn-hover-color;
      color: #ffff;
      outline: none;
    }
  }
}
body {
  .container {
    // max-width: 1280px;
    // width: 100%;
    // margin: 0 auto;
    display: flex;

    //side bar
    .side-nav-container {
      max-width: 160px;
      width: 100%;
      background-color: $side_bar_bg;
      height: 100vh;
      flex-direction: column;

      .logo {
        max-width: 100%;
        width: 100%;
        margin-bottom: 32px;
        padding: 16px;
      }

      .batch-switch-container {
        background-color: #f2f9e4;
        padding: 8px 16px;
        align-items: center;
        justify-content: space-between;

        .batch-content-container {
          align-items: center;
          gap: 6px;

          .batch-logo {
            background-color: #cdeec7;
            border-radius: 50%;
            padding: 8px 10px;

            p {
              font-size: 12px;
              line-height: 16px;
              font-weight: 500;
              font-family: $font-Roboto;
              color: $font-primary-color;
            }
          }

          .batch-name {
            p {
              font-size: 12px;
              line-height: 16px;
              font-weight: 500;
              font-family: $font-Roboto;
              color: $font-primary-color;
            }

            span {
              font-family: $font-Roboto;
              font-size: 10px;
              line-height: 14px;
              font-weight: 400;
              color: $font-secondary-color;
            }
          }
        }

        .switch-icon {
          img {
            width: 16px;
            height: 16px;
            color: $font-secondary-color;
            rotate: -90deg;
          }
        }
      }

      .nav-links {
        flex: 1;
        padding: 16px;

        ul {
          margin: -10px 0;

          .main-link {
            font: 400 12px/18px $font-Roboto;
            color: $font-secondary-color;
            margin: 20px 0;

            a {
              font-family: $font-Roboto;
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              color: $font-secondary-color;

              img {
                height: 16px;
                width: 16px;
                margin-right: 5px;
                font-family: $font-Roboto;
              }
            }

            .sub-links {
              padding-left: 8px;
              border-left: 1px solid $primary-color;
              margin: 8px 0;
              margin-left: 8px;

              li {
                padding-left: 10px;
                padding-bottom: 12px;
                font-family: $font-Roboto;

                &:hover {
                  a {
                    color: $primary-color;
                    font-family: $font-Roboto;
                  }
                }
              }

              .sub-link {
                a {
                  color: $font-secondary-color;
                  font-family: $font-Roboto;
                  font-size: 12px;
                  line-height: 16px;
                  font-weight: 400;
                }
              }

              .sub-link.sub-active {
                a {
                  color: $primary-color;
                }
              }
            }
          }

          .main-link.main-active {
            font-weight: 500;
            color: $font-primary-color;
            position: relative;

            a {
              font-size: 12px;
              line-height: 16px;
              color: $font-primary-color;
              font-weight: 500;
              font-family: $font-Roboto;
            }
            //its used to future
            // &::after {
            //   content: url(/icons/dropdown.svg);
            //   rotate: 180deg;
            //   height: 16px;
            //   width: 16px;
            //   position: absolute;
            //   top: 0;
            //   right: 0;
            // }
          }
        }
      }

      .user-profile {
        gap: 7px;
        align-items: center;
        padding: 16px;

        .profile-img {
          width: 40px;
          height: auto;
          overflow: hidden;
          border-radius: 50%;

          background: linear-gradient(
            12deg,
            transparent 0%,
            $primary-color 100%
          );
          border-radius: 50px;
          padding: 4px;
          box-sizing: border-box;

          img {
            width: 100%;
            height: auto;
          }
        }

        .user-details {
          p {
            font-size: 12px;
            font-family: $font-Roboto;
            line-height: 16px;
            font-weight: 500;
            color: $font-primary-color;
            font-weight: bolder;
          }

          span {
            font-family: $font-Roboto;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            color: $font-secondary-color;
          }
        }
      }
    }
    .popup-container {
      position: absolute;
      left: 160px;
      top: 0;
      background-color: white;
      height: 100vh;
      width: 301px;
      z-index: 999;
      padding: 20px;
      .popup-content {
        .inner-content {
          align-items: center;
          justify-content: space-between;
          padding-bottom: 16px;
          h3 {
            font-size: 14px;
            font-family: $font-Roboto;
            font-weight: 500;
            color: $font-primary-color;
            line-height: 18px;
            padding-bottom: 4px;
          }
          .cancel-btn {
            width: 16px;
            cursor: pointer;
          }
        }
        .add-batch {
          padding-bottom: 10px;
          .add-batch-btn {
            width: 100%;
            padding: 8px 0;
            border: 1px solid $border-color;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            background-color: #ffff;
            font-family: $font-Roboto;
            span {
              font-size: 16px;
              line-height: 20px;
              font-weight: 400;
              color: $font-primary-color;
              font-family: $font-Roboto;
            }
          }
        }
      }

      .switch-batch-list-container {
        overflow: scroll;
        height: calc(100vh - 110px);
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        .switch-batch-card {
          padding: 14px 16px;
          border-radius: 4px;
          justify-content: space-between;
          border: 1px solid $border-color;
          width: 100%;
          margin-bottom: 12px;
          .batch-left-side {
            .batch-name-year {
              h4 {
                font-size: 14px;
                line-height: 18px;
                font-family: $font-Roboto;
                color: $font-primary-color;
                font-weight: 500;
              }
              p {
                color: $font-secondary-color;
                font-size: 10px;
                line-height: 14px;
                font-family: $font-Roboto;
                font-weight: 400;
              }
            }
            .tag {
              span {
                padding: 2px 8px;
                background-color: #eefdb0;
                color: $primary-color;
                border-radius: 4px;
                font-size: 10px;
                line-height: 14px;
                font-family: $font-Roboto;
              }
            }
          }
        }
      }
    }

    //task listing container
    .listing-container {
      max-width: 301px;
      width: 100%;
      padding: 24px 20px 0px 20px;
      border-right: 1px solid $border-color;

      h1 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        font-weight: 500;
        font-family: $font-Roboto;
      }

      .search-container {
        position: relative;

        input {
          width: 100%;
          height: 36px;
          padding-left: 33px;
          border-radius: 4px;
          color: $font-primary-color;
          border: 1px solid $border-color;
          font-family: $font-Roboto;
        }

        img {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 10px;
        }

        .search-icon {
          left: 12px;
        }

        .filter-icon {
          right: 12px;
        }
      }

      .create-container {
        margin: 12px 0px 8px;

        .btn.create-btn {
          width: 100%;
          padding: 8px 0;
          border: 1px solid $border-color;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-size: 12px;
          line-height: 16px;
          font-weight: 500;
          background-color: #ffff;
          font-family: $font-Roboto;

          span {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: $font-primary-color;
            font-family: $font-Roboto;
          }
        }
      }

      .task-list-container {
        height: 460px;
        overflow: scroll;
        height: calc(100vh - 200px);
        overflow-y: auto;
        box-sizing: border-box;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        .task-card {
          max-width: 261px;
          height: 98px;
          width: 100%;
          padding: 12px;
          border-radius: 4px;
          border: 1px solid $border-color;
          max-height: 98px;
          margin-bottom: 8px;
          background-color: #ffff;
          font-family: $font-Roboto;
          cursor: pointer;

          &:hover {
            background-color: $side_bar_bg;
          }
          .task-icon {
            background-color: yellow;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            padding: 8px;
            margin-right: 7px;

            span {
              font-size: 9px;
              font-family: $font-Roboto;
              font-weight: 500;
              color: $font-primary-color;
            }
          }

          .task-details {
            width: 100%;

            .task-name-with-icon {
              justify-content: space-between;

              h2 {
                font-size: 12px;
                line-height: 16px;
                font-weight: 500;
                font-family: $font-Roboto;
                flex: 1;
              }

              img {
                width: 16px;
                height: 16px;
                display: none;
                cursor: pointer;
              }
              .delete-icon {
                margin-left: 5px;
                cursor: pointer;
              }
            }

            .task-description {
              max-width: 205px;
              width: 100%;
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              margin: 4px 0;
              color: $font-secondary-color;
              font-family: $font-Roboto;
            }

            .btn-inprogress {
              padding: 2px 8px;
              font-size: 10px;
              line-height: 14px;
              border-radius: 2px;
              margin-right: 6px;
              background-color: $completed-bg;
              color: $primary-color;
              font-family: $font-Roboto;
            }

            .btn-deadline {
              padding: 2px 8px;
              font-size: 10px;
              line-height: 14px;
              border-radius: 2px;
              margin-right: 6px;
              font-family: $font-Roboto;
              color: $highlight-yellow;
              background-color: $highlight-yellow-bg;
              font-family: $font-Roboto;
            }
          }
        }

        //while hover the task card show edit icon
        .task-card:hover .task-name-with-icon img {
          display: inline-block;
          /* show the edit icon when task-card is hovered */
        }

        .task-card.active {
          background-color: $side_bar_bg;
        }
      }
    }

    .select-something-container {
      width: 100%;
      align-items: center;
      justify-content: center;
      .image-container {
        img {
          max-width: 350px;
          width: 100%;
        }
        .select-something-heading {
          font-size: 14px;
          line-height: 18px;
          font-family: $font-Roboto;
          color: $font-primary-color;
          font-weight: 500;
          text-align: center;
        }
      }
    }
    //main-container

    .main-container {
      padding: 20px;
      width: 100%;

      .module-header-section-container {
        padding-bottom: 14px;

        .module-header-section {
          justify-content: space-between;
          align-items: center;

          .module-title-section {
            gap: 8px;

            .task-title {
              font-size: 16px;
              line-height: 24px;
              font-weight: 500;
              font-family: $font-Roboto;
              color: $font-primary-color;
              outline: #12160a;
              padding-left: 10px;
            }

            img {
              width: 20px;
              height: 20px;
            }
            .yes-btn {
              padding: 5px;
              background-color: $border-color;

              border: 1px solid $border-color;
              border-radius: 4px;
              font-size: 10px;
              font-family: $font-Roboto;
              cursor: pointer;
            }
            .no-btn {
              padding: 5px;
              background-color: $border-color;
              border: 1px solid $border-color;
              border-radius: 4px;
              font-size: 10px;
              font-family: $font-Roboto;
              margin-left: 5px;
              cursor: pointer;
            }
          }
        }
      }

      .task-details-header-container {
        height: calc(100vh - 110px);
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        .task-label-container {
          padding-bottom: 16px;
          align-items: center;
          gap: 11px;

          h4 {
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;

            font-family: $font-Roboto;
            color: $font-primary-color;
          }

          .horizon-line {
            flex: 1;
            border: 1px solid $border-color;
          }
        }

        .task-details-main-container {
          gap: 20px;
          // justify-content: space-between;
          padding-bottom: 20px;

          .task-type-container {
            .task-type-label {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              font-family: $font-Roboto;
              color: $font-secondary-color;
              padding-bottom: 6px;
            }

            .task-type-selector {
              padding: 10px 12px;
              outline: none;
              background-color: white;
              color: $font-primary-color;
              border-radius: 4px;
              border: 1px solid $border-color;
              width: 100%;
              font-family: $font-Roboto;
            }
          }

          .task-deadline-container {
            .task-deadline-label {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              font-family: $font-Roboto;
              color: $font-secondary-color;
              padding-bottom: 6px;
            }

            .datepicker.task-deadline-selector {
              max-width: 200px;
              width: 100%;
              // padding: 10px 12px;
              // outline: none;
              // background-color: white;
              // color: $font-primary-color;
              // border-radius: 4px;
              // border: 1px solid $border-color;
              // width: 100%;
              // font-family: $font-Roboto;
            }
          }

          .task-assigner-container {
            max-width: 270px;
            width: 100%;

            .task-assigner-label {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              font-family: $font-Roboto;
              color: $font-secondary-color;
              padding-bottom: 6px;
            }

            .task-assigner-selector {
              max-width: 269px;
              width: 100%;
              height: 36px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 12px;
              background-color: #ffff;
              border: 1px solid $border-color;
              border-radius: 4px;
              font-size: 12px;
              line-height: 16px;
              font-family: $font-Roboto;
              color: $font-primary-color;
            }
            img {
              width: 16px;
              height: 16px;
            }
          }

          .common-property {
            max-width: 200px;
            width: 100%;
          }
        }

        .task-editor-container {
          padding-bottom: 16px;

          .task-description-label {
            padding-bottom: 6px;
            font-size: 12px;
            font-family: $font-Roboto;
            line-height: 12px;
            font-weight: 400;
            color: $font-secondary-color;
          }

          .task-editor {
            .quill {
              .ql-toolbar.ql-snow {
                border-radius: 4px 4px 0px 0px;
                border: 1px solid $border-color;
              }

              .ql-container.ql-snow {
                height: 171px;
                border-radius: 0px 0px 4px 4px;
                border: 1px solid $border-color;

                p {
                  color: $font-primary-color;
                }
              }
            }

            // p {
            //     color: $font-primary-color;
            //     font-family: $font-Roboto;
            //     font-size: 12px;
            //     line-height: 16px;
            //     font-weight: 400;
            // }
          }
        }

        .submission-folder-link-container {
          .task-submission-link {
            padding: 10px 0px 10px 12px;
            width: 100%;
            font-family: $font-Roboto;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            color: $font-primary-color;
            border-radius: 4px;
            border: 1px solid $border-color;
          }

          padding-bottom: 16px;
        }

        .file-input-container {
          position: relative;
          width: 100%;
          padding: 14px 0;
          border: 2px dashed $border-color;
          border-radius: 5px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-bottom: 20px;

          .upload-icon-container {
            align-items: center;
            gap: 8px;

            .upload-icon {
              width: 16px;
              height: 16px;
            }

            p {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              font-family: $font-Roboto;

              .highlight {
                color: $primary-color;
                padding-left: 2px;
              }
            }
          }

          .file-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }

        .weightage-label-container {
          align-items: center;
          gap: 11px;
          padding-bottom: 16px;

          h3 {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            font-family: $font-Roboto;
            color: $font-primary-color;
          }

          .horizon-line {
            flex: 1;
            border: 1px solid $border-color;
          }
        }

        .weightage-adding-container {
          .weight-inputs {
            p {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              font-family: $font-Roboto;
              color: $font-secondary-color;
              padding-bottom: 6px;
            }

            .weightage-unit-container {
              max-width: 364px;
              width: 100%;
              height: 36px;
              justify-content: space-between;
              align-items: center;
              gap: 10px;

              .task-weightage-selector {
                padding: 10px 12px;
                max-width: 200px;
                width: 100%;
                border: 1px solid $border-color;
                border-radius: 4px;
                outline: none;
                color: $font-primary-color;
                background-color: white;
                font-family: $font-Roboto;
              }

              .task-weight-value-selector {
                max-width: 72px;
                width: 100%;
                padding: 10px 0px 10px 12px;
                border: 1px solid $border-color;
                border-radius: 4px;
              }

              .weightage-action {
                .btn.increment-btn {
                  background-color: #ffff;
                  cursor: pointer;
                  color: $font-primary-color;
                  border: 1px solid $border-color;
                  padding: 10px;
                  font-family: $font-Roboto;
                  border-right: none;
                  border-radius: 4px 0px 0px 4px;
                  font-family: $font-Roboto;
                }

                .btn.decrement-btn {
                  background-color: #ffff;
                  cursor: pointer;
                  color: $font-primary-color;
                  border: 1px solid $border-color;
                  padding: 10px;
                  font-family: $font-Roboto;
                  border-radius: 0px 4px 4px 0px;
                  font-family: $font-Roboto;
                }
              }
            }
          }
        }
      }
    }
  }
}
:where(.css-dev-only-do-not-override-6j9yrn).ant-modal-confirm
  .ant-modal-confirm-btns
  .ant-btn
  + .ant-btn {
  margin-bottom: 0;
  width: auto;
  margin-inline-start: 8px;
}
